:host {
  max-width: 1640px;
  position: relative;
  width: 100%;
  .item {
      padding: 10px;
    }
    
    .tile {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .leftRs, .rightRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 25px;
      height: 25px;
      color: #757575;
      cursor: pointer;
      &.__left {
        left: 0;
      }
      
      &.__right {
        right: 0;

      }
    }
  .rightRs i {
    position: relative;
    left: 15px;
    top: 4px;
  }
}


  