@import '../../../assets/scss/styles';

:host {
  display: block;
  margin: 60px;

  .user-title {
    p {
      color: $bp-grey;
    }

    a {
      color: $bp-grey;
    }
  }

  .user-avatar {
    margin: 0 30px 24px 24px;
    width: 38px;
    border-radius: 50px;
    border: 0 solid #800000;
    box-shadow: 6px 14px 33px -9px rgba(0, 0, 0, 0.75);
  }

  .user-info {
    text-align: center;
    margin: 0 0 20px 0;
  }

  .admin {
    border: 1px solid $bp-border;
    padding: 60px;

    pre {
      text-align: left;
      font-size: x-small;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.leader {
  margin: 0px 10px 0 0;
}
