<md-card>
  <div *ngIf="userService.authenticated() && userService.userProfile">
    <md-card-title-group>
      <md-card-title>
        <!-- FIXME Override User Profile Name with Leader Name ? -->
        <h1>
          {{userService.userProfile.name}}
          <md-card-subtitle>
            {{userService.userProfile.email}}
          </md-card-subtitle>
        </h1>
      </md-card-title>
      <img md-card-md-image [src]="userService.userProfile.picture">
    </md-card-title-group>
    <md-card-content>
      <p><strong>Нікнейм: </strong> {{userService.userProfile.nickname}}</p>
      <p><strong>Дата реєстрації: </strong> {{userService.userProfile.created_at}}</p>
      <p><strong>Останій вхід: </strong> {{userService.userProfile.updated_at}}</p>
      <!-- <h4>You are logged in</h4> -->
    </md-card-content>

    <md-card>
      <md-card-title>
        Проекти:
      </md-card-title>
      <md-card-content>
        <app-project-list [leaderId]="leader._id">
        </app-project-list>
      </md-card-content>
    </md-card>

    <md-card-actions>
      <p class="admin">
        <a [routerLink] = "['/leaders']"><button md-raised-button color="accent">Редагувати</button></a>
        <!-- <a href (click) = "deleteLeader(leader)"><button md-raised-button color="warn">Видалити</button></a> -->
      </p>
    </md-card-actions>
  </div>
  <h4 *ngIf="!userService.authenticated()">Ви не зайшли в систему. Натисніть 'Вхід', щоб зайти</h4>
</md-card>
