<div>
  <div *ngIf="!userService.authenticated() || !userProfile">Потрібно зайти в систему</div>
  <div *ngIf="userService.authenticated() && userProfile">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2%" class="user-title">
      <span fxFlex fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button color="primary" [routerLink]="['/leader/' + profileLeader?._id + '/edit']"
                *ngIf="userService.canEdit(profileLeader)"><mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="userService.logout()"><mat-icon>exit_to_app</mat-icon></button>
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
      <div>
        <img class="user-avatar" [src]="userProfile.picture" [alt]="userProfile.name">
      </div>
      <div class="user-info">
        <h1>{{profileLeader ? profileLeader.name + ' ' + profileLeader.surName : userProfile.name }}</h1>
        <!-- FIXME Override User Profile Name with Leader Name ? -->
        <p *ngIf="userService.isAdmin"><strong>Роль: </strong><a [routerLink]="['/admin']">Адміністратор</a></p>
        <p *ngIf="profileLeader"><strong>Лідер: </strong><a
          [routerLink]="['/leader/' + profileLeader?._id]">{{profileLeader?.name}}
          {{profileLeader?.surName}}</a></p>
        <p>{{userProfile.email}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="!userService.authenticated()">
    <h4>Ви не зайшли в систему</h4>
    <p>Авторизовані користувачі можуть:</p>
    <ul>
      <li>створювати проекти</li>
      <li>ставати лідерами</li>
      <li>користуватися розширеними функціями системи.</li>
    </ul>
    <p>Натисніть "Увійти", для авторизації.</p>
    <a (click)="userService.login()">
      <button mat-raised-button color="accent">Увійти</button>
    </a>
  </div>

  <app-leader-view [leaderId]="profileLeader?._id" class="leader"></app-leader-view>

  <div class="admin" *ngIf="userService.isAdmin">
    <pre>Admin</pre>
    <pre><a [routerLink]="['./about']" (click)="pingJwt()">Ping JWT</a> <a [routerLink]="['./about']"
                                                                           (click)="pingJwtAdmin()">Ping JWT Admin</a>
    </pre>
    <pre>userProfile: {{userProfile | json}}</pre>
    <pre>profileLeader: {{profileLeader | json}}</pre>
  </div>

  <!-- FIXME Restore task and project filtering
  <div *ngIf="profileLeader" class="leader-profile">
    <app-project-list
      *ngIf="profileLeader?.projectIds && profileLeader?.projectIds.length > 0"
      title="Проекти" [leaderId]="profileLeader?._id" [pageSize]="24"
      dbQuery='{ "$where": "this.taskIds.length > 0" }'>
    </app-project-list>
    <app-project-list title="Проекти без заходів" [leaderId]="profileLeader?._id" [pageSize]="24"
                      dbQuery='{ "$where": "this.taskIds.length < 1" }'>
    </app-project-list>
  </div> -->

</div>
