@import '../../../assets/scss/styles';

:host {
  display: block;
  margin: 60px;

  .user-title {
    p {
      color: $bp-grey;
      margin-top: 1rem;
    }

    a {
      color: $bp-grey;
    }
  }

  .user-avatar {
    margin-bottom: 24px;
    margin-right: 24px;
    width: 100px;
    border-radius: 50px;
    border: 0px solid #800000;
    box-shadow: 6px 14px 33px -9px rgba(0, 0, 0, 0.75);
  }

  .user-info {
    margin: 8px 0 0 24px;

    p {
      margin: 0 0 4px 0;

      strong {
        display: inline-block;
        width: 140px;
        color: $bp-text;
      }
    }
  }
}
