<md-card>
  <md-toolbar color="primary">
    <span>Файли та документи</span>
    <span class="add-fill-remaining"></span>
    <md-icon *ngIf="gdrive_authorize" (click)="handleAuthClick()" class="pointer">account_circle</md-icon>
    <md-icon *ngIf="gdrive_signout" (click)="handleSignoutClick()" class="pointer">exit_to_app</md-icon>
  </md-toolbar>

  <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
  <md-list>
    <md-list-item *ngFor="let file of files">
      <!-- TODO File link should open document preview -->
      <md-icon color="warn" title="{{file.id}}">insert_drive_file</md-icon><a href="{{file.webViewLink}}" title="{{file.mimeType}}" target="_blank">{{file.name}}</a>
    </md-list-item>
  </md-list>

  <md-card-content>
    <p>
      <input type="file" (change)="handleUploadFilenameChange($event)">
      <button md-button *ngIf="fileToUpload != null" (click)="handleAddFileClick()"><md-icon>insert drive file</md-icon>Завантажити</button>
    </p>
  </md-card-content>

  <md-card-actions>
  </md-card-actions>

</md-card>
