<mat-card class="files-card">
  <mat-toolbar color="primary">
    <span>Файли та документи</span>
    <!-- <span class="add-fill-remaining"></span>
    <mat-icon *ngIf="gdrive_authorize" (click)="handleAuthClick()" class="pointer">account_circle</mat-icon>
    <mat-icon *ngIf="gdrive_signout" (click)="handleSignoutClick()" class="pointer">exit_to_app</mat-icon> -->
  </mat-toolbar>

  <mat-card-content class="files-card-content">

    <p *ngIf="!gdrive_authorized" class="gdrive-invitation">
      Щоб редагувати свої файли, треба <a href="#" (click)="handleAuthClick()">авторизуватися у Google Drive</a>.
    </p>

    <div *ngIf="gdrive_authorized">
      <mat-list class="file-list">
        <mat-list-item *ngFor="let file of fileList">
          <!-- TODO File link should open document preview -->
          <mat-icon color="warn" title="{{file.id}}" class="file-icon">insert_drive_file</mat-icon><a href="{{file.webViewLink}}" title="{{file.mimeType}}" target="_blank">{{file.name}}</a>
        </mat-list-item>
      </mat-list>

      <div>
        <input type="file" #fileInput (change)="handleUploadFilenameChange($event)" style="display: none">

        <!-- Before file selected -->
        <button *ngIf="fileToUpload === null" mat-button (click)="handleSelectFileClick()"><mat-icon class="pointer">add</mat-icon> Додати файл</button>

        <!-- After file selected -->
        <button *ngIf="fileToUpload != null && !uploadInProgress" mat-raised-button (click)="handleUploadFileClick()" color="accent">Завантажити файл "{{fileToUploadName}}"</button>
        <button *ngIf="fileToUpload != null && uploadInProgress" mat-button disabled>Завантажую "{{fileToUploadName}}"...</button>

        <!-- GDrive Signin Status (and email if user's admin) -->
        <p class="signout-link">
          <a href="#" title="{{savedSignInUserInfo.getBasicProfile().getEmail()}}" (click)="handleSignoutClick()">Вийти з Google Drive</a>
          <span *ngIf="userService.isAdmin">({{savedSignInUserInfo.getBasicProfile().getEmail()}})</span>
        </p>
        <!-- *ngIf="uploadInProgress"  -->
        <mat-progress-bar mode="indeterminate" *ngIf="uploadInProgress" color="accent"></mat-progress-bar>
      </div>
    </div>

  </mat-card-content>
</mat-card>
