<mat-card class="task-edit-view">
  <form>

    <mat-card-content>

      <mat-card-title>
        <span *ngIf="!isUpdateMode">Додати</span>
        <span *ngIf="isUpdateMode">Редагувати</span>
         захід
      </mat-card-title>

      <mat-form-field>
        <input matInput required [(ngModel)]="task.title" characterCounter placeholder="Назва заходу:" [ngModelOptions]="{standalone: true}" >
      </mat-form-field>

      <mat-form-field>
        <textarea matInput matTextareaAutosize required [(ngModel)]="task.description" rows="3" placeholder="Опиши захід:" [ngModelOptions]="{standalone: true}" >
        </textarea>
      </mat-form-field>

      <!-- TODO: Use existing video control to auto-extend functionality on input -->
      <mat-form-field>
        <input matInput  [(ngModel)]="task.videoUrl" placeholder="Відео:" [ngModelOptions]="{standalone: true}" >
      </mat-form-field>

      <div class="cost-and-dates" fxLayoutGap="3%" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.sm="column" fxLayout.xs="column">
        <mat-form-field class="cost" fxFlex.xs="100%" >
          <div matPrefix><mat-icon>monetization_on</mat-icon>Бюджет:</div>
          <input matInput required type="number" [(ngModel)]="task.cost" [ngModelOptions]="{standalone: true}">
          <div matSuffix>UAH</div>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100%" >
          <div matPrefix><mat-icon>date_range</mat-icon>Початок:&nbsp;</div>
          <input matInput type="date" [(ngModel)]="task.dateStarted" hintlabel="Коли починається?" value="Вкажи дату початку, будь ласка" [ngModelOptions]="{standalone: true}" >
        </mat-form-field>
        <mat-form-field fxFlex.xs="100%" >
          <div matPrefix><mat-icon>date_range</mat-icon>Завершення:&nbsp;</div>
          <input matInput type="date" [(ngModel)]="task.dateEnded" hintlabel="Коли закінчується?" value="Дата завершення" [ngModelOptions]="{standalone: true}" >
         </mat-form-field>
       </div>

      <mat-toolbar>
        <button *ngIf="isUpdateMode" (click)="deleteTask(task)" mat-raised-button color="warn">Видалити</button>
        <!-- MOVE TO OTHER PROJECT -->
        <div *ngIf="userService.isAdmin && isUpdateMode">
          <button *ngIf="!projectsToMoveTaskTo" mat-button (click)="requestProjectsToSelectFrom()">До іншого проекту</button>
          <form *ngIf="projectsToMoveTaskTo">
            <mat-select placeholder="Вибери проект" (change)="moveTaskToOtherProject($event)" name="project">
              <mat-option *ngFor="let project of projectsToMoveTaskTo" [value]="project">
                {{project.title}}
              </mat-option>
            </mat-select>
          </form>
        </div>
  
        <span class="add-fill-remaining"></span>

        <button mat-button (click)="cancelEditing()" color="primary">
          Відмінити
        </button>
   
        <button type="submit" mat-raised-button (click)="saveTask()" color="primary">
          <span *ngIf="!isUpdateMode">Додати</span>
          <span *ngIf="isUpdateMode">Зберегти</span>
          <span>захід</span>
        </button>

      </mat-toolbar>

    </mat-card-content>
  </form>
</mat-card>
