<md-card class="task-edit-view">
  <form>

    <md-card-content>

      <md-card-title>
        <span *ngIf="!isUpdateMode">Додати</span>
        <span *ngIf="isUpdateMode">Редагувати</span>
         захід
      </md-card-title>

      <md-input-container><input mdInput required [(ngModel)]="task.title" characterCounter placeholder="Назва заходу:" hintLabel="" [ngModelOptions]="{standalone: true}" ></input></md-input-container>

      <md-input-container><textarea mdInput required [(ngModel)]="task.description" rows="3" placeholder="Опиши захід:" hintLabel="" [ngModelOptions]="{standalone: true}" ></textarea></md-input-container>

      <!-- TODO: Use existing video control to auto-extend functionality on input -->
      <md-input-container><input mdInput video-control [(ngModel)]="task.videoUrl" placeholder="Відео:" hintLabel="" [ngModelOptions]="{standalone: true}" ></input></md-input-container>

      <md-input-container><input mdInput required [(ngModel)]="task.cost" placeholder="Сума, грн" align="end" [ngModelOptions]="{standalone: true}" >
       <span mdPrefix>Який його бюджет?</span>
       <span mdSuffix>.00 </span>
      </input></md-input-container>

      <table style="width: 100%" cellspacing="0"><tr>
       <td><md-input-container><input mdInput type="date" [(ngModel)]="task.startDateInputValue" hintlabel="Коли починається?" value="Вкажи дату початку, будь ласка" [ngModelOptions]="{standalone: true}" >
          <div mdPrefix>Дата початку:&nbsp;</div>
       </input></md-input-container></td>
       <td><md-input-container><input mdInput type="date" [(ngModel)]="task.endDateInputValue" hintlabel="Коли закінчується?" value="Дата завершення" [ngModelOptions]="{standalone: true}" >
          <div mdPrefix>Дата завершення:&nbsp;</div>
       </input></md-input-container></td>
      </tr></table>

      <p>
        <button type="submit" md-raised-button (click)="saveTask()" color="primary">
          <span *ngIf="!isUpdateMode">Додати</span>
          <span *ngIf="isUpdateMode">Зберегти</span>
           захід</button>
        <a href *ngIf="isUpdateMode" (click)="deleteTask(task)"><button md-raised-button color="warn">Видалити</button></a>
      </p>


    </md-card-content>
  </form>
</md-card>
