@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$bp-primary: mat.define-palette(mat.$blue-grey-palette, A700);
$bp-accent:  mat.define-palette(mat.$light-green-palette);

// The warn palette is optional (defaults to red).
$bp-warn:    mat.define-palette(mat.$red-palette, A700);  // Closest to brand's C62828

// Create the theme object (a Sass map containing all of the palettes).
$bp-theme: mat.define-light-theme($bp-primary, $bp-accent, $bp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bp-theme);

.bp-dark-theme {
  $dark-primary: mat.define-palette(mat.$grey-palette, A700);
  $dark-accent:  mat.define-palette(mat.$amber-palette, A400, A100, A400);
  $dark-warn:    mat.define-palette(mat.$deep-orange-palette);

  $dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include mat.all-component-themes($dark-theme);
}
