@import './bp-theme.scss';

$bp-head: #1B1B1B;
$bp-text: #3b3b3b;
$bp-link: #d20915;
$bp-icon: #465A64;
$bp-white: #ffffff;  //--- use
$bp-border: #e7e7e7;
$bp-red: #c3372e;
$bp-bg: #F9FAFC;  //--- use
$bp-grey: #949494;

$red: #C3372E;   //--- use 
$dark-red: #A31F16;   //--- use 
$gray: #707070;   //--- use
$light-gray: #AAB0BB;   //--- use

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;
}

.add-toolbar {
  padding: 0 0.5rem 0 1em;
}

.add-toolbar .add-toolbar-icon {
  padding: 0 14px;
}

.add-fill-remaining {
  flex: 1 1 auto;
}

a:link,
a:visited,
a:active {
  color: #1B1B1B;
}
a:hover {
  color:$red;
}

// md-list-item h3 a:link,
// md-list-item h3 a:visited,
// md-list-item h3 a:active {
//   text-decoration: none;
// }

// md-list-item h3 a:hover {
//   text-decoration: underline;
// }

// md-icon.pointer {
//   cursor: pointer;
// }

.mat-card {
  box-shadow: none !important;
}

.mat-card-actions {
  margin: 0;
  padding: 0;
}
/* Project Brief and Leader Brief for Home etc */
.project-brief-card p,
.project-brief-card .mat-card-title,
.project-brief-card .mat-card-subtitle,
.leader-brief-card p,
.project-description, .project-title,
.leader-brief-card .mat-card-title,
.leader-brief-card .mat-card-subtitle,
.leader-title, .leader-description, 
.project-title-list-view,
.project-description-list-view,
.leader-vision, .company-title,
.company-description {
  text-overflow: ellipsis;
  overflow: hidden;
  // white-space: nowrap;
  line-height: normal;
}

.project-brief-block p,
.project-title, .leader-title,
.leader-vision, .company-title,
.company-description {
  font-family: 'Montserrat';
  color: #707070;
  line-height: 1.1;
}

.left-to-collect span,
.leader-description {
  font-family: 'Montserrat Alternates';
  color: #707070;
  line-height: 1.1;
}

.mat-card.project-brief-block,
.mat-card.leader-brief-block {
  cursor: pointer;
}

.mat-raised-button {
  box-shadow: none !important;
}

.info-btn {
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  border-radius: 18px;
}
.color-btn {
  background-color: $red;
  color: $bp-white;
}
.white-btn {
  background-color: $bp-white;
  color: $gray;
}
.gray-btn {
  background-color: $light-gray;
  color: $bp-white;
}

.icon-me {
  background: $bp-red;
  padding: 0 2px;
  display: inline-block;
  font-size: 11px;
  position: relative;
  top: -12px;
  line-height: 1.1;
  margin-left: 6px;
  font-weight: bold;
  color: white;
}
