<h1>Про проект</h1>

<p>BigPolicy є платформою політичного спонсорства, що складається з сайту та
  додатків для збору коштів у мережі інтернет, плюс офлайн-носії.</p>

<h2>Наші принципи:</h2>
<ul>
  <li>Прозорість</li>
  <li>Відкритість</li>
  <li>Інституційність</li>
  <li>Опора на здоровий глузд</li>
</ul>

<h2>Глосарій</h2>
<ul>
  <li>Діяч: політик чи активіст, що потребує підтримки від Донора.</li>
  <li>Донор: мешканець чи виборець, що може підтримати Діяча.</li>
  <li>Проект (захід): Запропонований лідером спосіб вирішення конкретної проблеми.</li>
</ul>

<h2>Команда</h2>
<ul>
  <li>UX, верстка та програмування: Ростислав Сірик</li>
  <li>Програмування: Олексій Шніра</li>
  <li>Бізнес аналітик: Сергій Прокопенко</li>
  <li>Візія продукту: Володимир Закалюжний</li>
</ul>

<p>TBD: Інформація на цій сторінці буде поновлюватися</p>
<p>Старт розробки: {{dateInit}}, зараз: {{dateNow}}</p>
