<h1>Про проект</h1>

<div fxLayout="row" fxLayoutGap="30px">

  <div fxFlex="grow">
    <p>BigPolicy є платформою політичного спонсорства, що складається з сайту та додатків для збору коштів у мережі інтернет,
      плюс офлайн-носії. Наші принципи: прозорість, відкритість, інституційність, опора на здоровий глузд.
    </p>
    <p>
      <img src="assets/img/logo.png" width="150" />
    </p>

    <h2>Команда</h2>

    <ul>
      <li>
        <a href="https://www.facebook.com/rastislavr">Ростислав Сірик</a> - UX, Angular, Material 2</li>
      <li>
        <a href="https://www.facebook.com/Oleksiy.Shnira">Олексій Шніра</a> - бек-енд</li>
      <li>
        <a href="https://www.facebook.com/prokopenkoserhii">Сергій Прокопенко</a> - Бізнес аналітик</li>
      <li>
        <a href="https://www.facebook.com/vlodko">Володимир Закалюжний</a> - Візія продукту</li>
    </ul>

    <h2>Глосарій</h2>

    <ul>
      <li>Лідер: політик чи активіст, що потребує підтримки від Донора.</li>
      <li>Донор: мешканець чи виборець, що може підтримати Лідера.</li>
      <li>Проект (захід): запропонований лідером спосіб вирішення конкретної проблеми.</li>
    </ul>

    <h2>BigPolicy</h2>

    <p>У розробці з {{dateInit | date}} по {{dateNow | date}}</p>
    <p>Україна, м.&nbsp;Львів
      <br> вул.&nbsp;Наукова&nbsp;58, кв.&nbsp;28
      <br> +380936191795
    </p>
  </div>

  <div fxFlex="shrink">
    <p>
      <a href="http://www.slideshare.net/prokopenkoserhii?utm_campaign=profiletracking&utm_medium=sssite&utm_source=ssslideview">Презентація</a>:
    </p>
    <p>
      <iframe src="http://www.slideshare.net/prokopenkoserhii/slideshelf" width="500px" height="300px" frameborder="0" marginwidth="0"
        marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen>
      </iframe>
    </p>
    <p>
      <mat-icon>group_work</mat-icon>
    </p>
  </div>

  <p>
    <a href="https://www.revolvermaps.com/?target=enlarge&amp;i=0ukt1i6a2i9">
      <img src="//ra.revolvermaps.com/h/m/a/0/ff0000/128/0/0ukt1i6a2i9.png" width="256" height="128" alt="Map" style="border:0;">
    </a>
  </p>

  <p>
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FBIGPOLICY%2F&width=450&layout=standard&action=like&show_faces=true&share=true&height=80&appId"
      width="256" height="200" style="border:none;overflow:hidden; margin-left: 1em;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </p>

  <p>⨒
    <a href="https://github.com/rostag/bigpolicy_eu/wiki">BigPolicy Wiki</a>
  </p>
