<div class="gene-wrapper">
  <h1>Генератори</h1>
  <div fxLayout="row wrap" fxLayoutAlign="center start" class="generator-cards">
    <div fxFlex="50">
      <h2>Поезія!</h2>
      <app-poetry></app-poetry>
    </div>
    <div fxFlex="50">
      <h2>Новини</h2>
      <app-c-news></app-c-news>
    </div>
    <div fxFlex="50">
      <h2>Аудіо</h2>
      <app-audio></app-audio>
    </div>
    <div fxFlex="50">
      <h2>Random-dom</h2>
      <app-random-dom></app-random-dom>
    </div>
  </div>
</div>