<md-card>
  <md-card-title>Проекти</md-card-title>
  <md-card-subtitle>Як зробити діяльність прозорою? Будь-який діяч є менеджером проектів.
    Кожен проект має визначені  бюджет, строки і результат. Результат оцінює спільнота.
    Менеджер реагує на критику і відповідає на запитання.
  </md-card-subtitle>

  <md-card-content>
  <p>Показати у спискові:
    <select>
      <option>члени партії...</option>
      <option>РПР</option>
      <option>ЩЗП</option>
    </select>

   <a href="#">активісти</a> з регіону:
    <select>
      <option>Усі регіони</option>
      <option>Львів</option>
      <option>Харків</option>
    </select>
  </p>

  <md-list>
     <md-list-item  *ngFor="let project of projects">
       <img md-list-avatar src="assets/img/avatar.jpg" alt="{{project.title}}">
       <h3 md-line><big><big><b>{{project.title}}</b>, ₴{{project.cost}}</big></big> - {{project.managerName}}</h3>
       <p md-line>
        <b><small>Початок: {{project.dateStarted | date:'yMMMMd'}}, 
        Дедлайн: {{project.dateEnded | date:'yMMMMd'}}</small></b>
       </p>
       <p md-line>
         <span>{{project.description}}</span>
       </p>
    </md-list-item>
  </md-list>

  </md-card-content>
  <md-card-actions>
    <a href="/projects"><button md-button color="primary">Переглянути усі проекти</button></a>
  </md-card-actions>
</md-card>

<!-- <div class="mockup"></div> -->
