<md-card>
  <md-card-title>Як зробити діяльність політика прозорою?</md-card-title>
  <md-card-subtitle>Діяч - політик чи активіст — це менеджер, і його діяльність складається з [проектів].
    Кожен проект має виміри: бюджет, строки, результат та інші. Ми ведемо історію проектів та записуємо відгуки спільноти про них.
    Важливою є здатність діяча адекватно реагувати на критику і виправляти помилки, працювати на результат і ефективний процес його досягнення.
    Він мусить відповідати на будь-які задані йому запитання щодо проектів.</md-card-subtitle>
  <md-card-content>
  <md-card-title>Підтримуйте і контролюйте тих, хто вас цікавить:</md-card-title>

  <p>Вибрати:
    <select>
      <option>[члени партій]</option>
      <option>РПР</option>
      <option>ЩЗП</option>
    </select>

   <a href="#">громадські активісти</a>, регіон:
    <select>
      <option>будь-який</option>
      <option>РПР</option>
      <option>ЩЗП</option>
    </select>
  </p>

  <md-list>
     <md-list-item  *ngFor="let project of projects">
       <img md-list-avatar src="assets/img/avatar.jpg" alt="{{project.title}}">
       <h3 md-line> {{project.title}}</h3>
       <p md-line>
         <span> {{project.description}}</span>
         <span class="project-details"> {{project.cost}} </span>
       </p>
    </md-list-item>
  </md-list>

  </md-card-content>
  <md-card-actions>
    <a href="/leader"><button md-button color="primary">Дивитися усі проекти</button></a>
  </md-card-actions>
</md-card>

<!-- <div class="mockup"></div> -->
