:host {
  display: block;
  margin-bottom: 2em;
}

.share-card {
  width: 90%;
}

.share-show {
    float: right;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0.5em 0 0.25em 0;
}

.email-subject {
  font-size: 14px;
  color: #777;
}

.textarea-label {
  display: block;
  margin: 1.4em 0 0 0;
  color: rgba(0, 0, 0, 0.38);
  font-size: 0.75em;
}

.email-subject .span {
  color: #bbb;
  text-align: right;
}

.bt-input {
  margin-top: 1em;
}

.wide {
  width: 100%;
}

.bp-textarea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 140%;
  outline: none;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 1px;
  border: 0 solid transparent;
  border-bottom: 1px solid #eee;
  width: 100%;
  color: #999;
}

.bp-textarea:focus {
  padding-bottom: 0;
  border-bottom: 2px solid #777;
  color: #000;
}

.bp-pre {

}

.bp-pre-html {
  background-color: #000;
  color: #0f0;
  width: 100%;
  margin: 2em 0 1em 0;
  padding: 1em;
  font-size: 11px;
  font-family: 'Andale Mono', monospace;
  box-sizing: border-box;
  line-height: 160%;
}

/* Validation */

.alert, .alert-danger {
  color: #F44336;
  font-size: 0.9em;
  float: right;
  margin-top: -2.3em;
  position: relative;
}

.email-preview {
  margin-top: 1.5em;
}
