:host {
  display: block;
  margin-bottom: 2em;
}

$agray: #bbb;
$lgray: #eee;
$sgray: #777;
$transp: rgba(0, 0, 0, .38);
$reddish: #f44336;
$cblack: #000;
$cred: #0f0;

.share-card {
  border: 7px dashed $lgray;
  display: none;
  left: 1em;
  margin-top: -1em;
  padding-top: 1em;
  position: absolute;
  right: 1em;
  z-index: 100;
}

.display-block {
  display: block;
}

.share-show {
  position: absolute;
  right: 2em;
  z-index: 120;
}

h1 {
  margin: 0;
}

h2 {
  margin: .5em 0 .25em;
}

.email-subject {
  color: #sgray;
  font-size: 14px;

  .span {
    color: $agray;
    text-align: right;
  }
}

.textarea-label {
  color: $transp;
  display: block;
  font-size: .75em;
  margin: 1.4em 0 0;
}


.bt-input {
  margin-top: 1em;
}

.wide {
  width: 100%;
}

.video-input {
  display: none;
  position: absolute;
}

.bp-textarea-wrapper {
  left: 1.7em;
  position: absolute;
  right: 1.7em;
  top: 12.9em;
}

.bp-textarea {
  border: 0 solid transparent;
  border-bottom: 1px solid $lgray;
  box-sizing: border-box;
  color: $cblack;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 20px;
  letter-spacing: normal;
  line-height: 120%;
  outline: none;
  overflow: hidden;
  padding: 0;
  padding-bottom: 1px;
  width: 100%;

  :focus {
    border-bottom: 2px solid $sgray;
    color: $sgray;
    padding-bottom: 0;
  }
}


// .email-description {
//   color: $lgray;
// }

.email-preview {
  font-size: 18px;
  line-height: 120%;
  margin-top: 1em;
}

.mailtext {
  font-size: 18px;
  line-height: 120%;
}

.bp-pre-html {
  background-color: $cblack;
  box-sizing: border-box;
  color: $cred;
  font-family: 'Andale Mono', monospace;
  font-size: 11px;
  line-height: 160%;
  margin: 2em 0 1em;
  padding: 1em;
  width: 100%;
}

.alert,
.alert-danger {
  color: $reddish;
  float: right;
  font-size: .9em;
  margin-top: -2.3em;
  position: relative;
}
