<a *ngIf="!showDialog" href (click)="showSharer()" class="share-show"><button md-raised-button color="accent">Поширити</button></a>
<!-- ÷ TODO:  (можна ввести декілька адрес через кому) -->
<md-card *ngIf="showDialog" class="share-card">

  <form #shareForm="ngForm" (ngSubmit)="onSubmit()" >
    <h1 *ngIf="formState('')">Надіслати проект по email</h1>
    <h1 *ngIf="formState('emailIsBeingSent')">Надсилаю повідомлення...</h1>
    <h1 *ngIf="formState('emailSent')">Повідомлення надіслано</h1>
    <h1 *ngIf="formState('emailSendError')">Сталася помилка {{emailSendError}}</h1>
    <h1 *ngIf="formState('formIsNotComplete')">Форма ще не готова до відправки...</h1>
    <md-input
      [(ngModel)]="toEmail"
      name="toEmail"
      id="toEmail"
      class="wide bt-input"
      validateEmail="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <md-placeholder>
          Кому:
        </md-placeholder>
    </md-input>

    <div *ngIf="formErrors.toEmail" class="alert alert-danger">
      {{ formErrors.toEmail }}
    </div>

    <!-- <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
      <div [hidden]="!email.errors.required">
        Потрібно увести хоча б одну адресу
      </div>
      <div [hidden]="!email.errors.maxlength">
        Email cannot be more than 1000 characters long.
      </div>
    </div> -->

    <md-input
      disabled
      [ngModel]="emailSubject" id="emailSubject" name="emailSubject"
      class="wide bt-input">
      <md-placeholder>
        Тема:
      </md-placeholder>
    </md-input>

    <div class="text-label">Текст:</div>

    <textarea
      [(ngModel)]="textToReader"
      class="bp-textarea"
      id="textToReader"
      name="textToReader"
      rows="10">{{textToReader}}
      <md-placeholder>
        Текст:
      </md-placeholder>
    </textarea>

    <md-input
      [(ngModel)]="videoUrl"
      id="videoUrl"
      name="videoUrl"
      class="wide bt-input">
      <md-placeholder>
        Відео (посилання):
      </md-placeholder>
    </md-input>
  </form>

  <a href (click)="shareProject()"><button md-raised-button color="accent" class="bt-input">Надіслати листа</button></a>

  <a *ngIf="!showEmailPreview" href (click)="toggleEmailPreview()"><button md-button>Показати листа</button></a>
  <a *ngIf="showEmailPreview" href (click)="toggleEmailPreview()"><button md-raised-button>Сховати листа</button></a>

  <md-card *ngIf="showEmailPreview" style="margin-top: 1em;">
    <p
      [innerHTML]="emailHtml"
      class="bp-pre">
    </p>
  </md-card>

  <a *ngIf="!showHtmlPreview" href (click)="toggleHtmlPreview()"><button md-button>Показати HTML</button></a>
  <a *ngIf="showHtmlPreview" href (click)="toggleHtmlPreview()"><button md-raised-button>Сховати HTML</button></a>

  <a href (click)="showSharer()"><button md-button>Закрити</button></a>

  <div
    *ngIf="showHtmlPreview"
    class="bp-pre-html">
    {{emailHtml}}
  </div>

</md-card>
