@import '~@angular/material/_theming.scss';

$sgray: #777;
$agray: #bbb;
$lgray: #eee;
$reddish: #f44336;
$cblack: #000;
$cred: #0f0;

:host-context(.sharer-host) {
  ::ng-deep .share-card {
    margin-top: -2em;
  }
}

.share-card {
  border: 7px dashed $lgray;
  display: none;
  left: 1em;
  margin-top: -4em;
  padding-top: 1em;
  position: absolute;
  right: 1em;
  z-index: 100;

  // FIXME NG45
  // @include $mat-elevation(24);
}

// For toggling the sharer
.display-block {
  display: block;
}

.show-sharer-button {
  position: relative;
}

.email-input.invalid {
  color: $reddish;
}

.validation-error {
  color: $reddish;
  margin-top: -1em;
  padding-bottom: 1em;
  position: relative;
}

h1 {
  margin: 0;
}

h2 {
  margin: .5em 0 .25em;
}

h3 {
  background-color: $lgray;
  margin-bottom: 1em;
  margin-top: .2em;
  padding: .5em;
}

.email-subject {
  color: $sgray;
}

.bt-input {
  margin-top: 1em;
}

.wide {
  width: 100%;
}

.mailtext {
  width: 100%;
}

.email-preview {
  margin-top: .2em;

  p {
    white-space: pre-line;
  }
}

.bp-pre-html {
  background-color: $cblack;
  box-sizing: border-box;
  color: $cred;
  font-family: 'Andale Mono', monospace;
  font-size: 11px;
  line-height: 160%;
  margin: 2em 0 1em;
  padding: 1em;
  width: 100%;
}

.info {
  color: green;
  font-weight: normal;
  padding: 1em;
  border: 1px solid green;
  width: 250px;
}
