$agray: #bbb;
$lgray: #eee;
$sgray: #777;
$reddish: #f44336;
$cblack: #000;
$cred: #0f0;

.share-card {
  border: 7px dashed $lgray;
  display: none;
  left: 1em;
  margin-top: -1em;
  padding-top: 1em;
  position: absolute;
  right: 1em;
  z-index: 100;
}

// For toggling the sharer
.display-block {
  display: block;
}

.show-sharer-button {
  position: absolute;
  right: 2em;
  z-index: 120;
}

.email-input.invalid {
  color: $reddish;
}

.validation-error {
  color: $reddish;
  margin-top: -1em;
  padding-bottom: 1em;
  position: relative;
}

h1 {
  margin: 0;
}

h2 {
  margin: .5em 0 .25em;
}

h3 {
  border-bottom: dotted 1px $lgray;
  border-top: dotted 9px $lgray;
  margin-bottom: 2em;
  padding: 1em 0;
}

.email-subject {
  color: #sgray;
}

.bt-input {
  margin-top: 1em;
}

.wide {
  width: 100%;
}

.mailtext {
  width: 100%;
}

.email-preview {
  margin-top: 2em;
}

.bp-pre-html {
  background-color: $cblack;
  box-sizing: border-box;
  color: $cred;
  font-family: 'Andale Mono', monospace;
  font-size: 11px;
  line-height: 160%;
  margin: 2em 0 1em;
  padding: 1em;
  width: 100%;
}

.info {
  color: green;
  font-weight: normal;
  padding: 1em;
  border: 1px solid green;
  width: 250px;
}
