<!-- Show/Hide Sharer Button -->
<a href (click)="toggleSharer()" class="show-sharer-button">
  <button *ngIf="!sharerIsVisible" md-raised-button color="accent">Поширити</button>
</a>

<!-- TODO Let user enter few addresses, separated by comma or semicolon -->
<md-card class="share-card" [class.display-block]="sharerIsVisible" [@visibilityChanged]="sharerIsVisible">

  <form #shareForm="ngForm" (ngSubmit)="shareItem()">

    <!-- Buttons -->
    <div style="float:right;margin-top: -0.75em;margin-right: 0">
      <button (click)="toggleSharer()" md-button>Відмінити</button>
      <button type="submit" md-raised-button color="accent" class="bt-input">Надіслати листа</button>
    </div>

    <!-- Show sending status -->
    <h2 *ngIf="getFormState('')">Надіслати по email</h2>
    <h2 *ngIf="getFormState('emailIsBeingSent')">Надсилаю повідомлення...</h2>
    <h2 *ngIf="getFormState('emailSent')">Повідомлення надіслано</h2>
    <h2 *ngIf="getFormState('emailSendError')">Сталася помилка {{emailSendError}}</h2>
    <h2 *ngIf="getFormState('formIsNotComplete')">Форма не готова до відправки</h2>

    <!-- 'To' email -->
    <!-- FIXME Make Validation Great Again -->
    <!-- FIXME Test it -->
    <md-input-container class="wide">
      <md-placeholder>Кому:</md-placeholder>
      <input type="email" mdInput [(ngModel)]="toEmail" name="toEmail"
        class="wide bt-input email-input" (blur)="handleInputBlur($event)"
        appValidateEmail="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    </md-input-container>

    <!-- Validation error display -->
    <div *ngIf="formErrors.toEmail" class="alert alert-danger">
      {{formErrors.toEmail}}
    </div>

    <!-- Subject (disabled) -->
    <md-input-container class="wide">
      <md-placeholder>Тема:</md-placeholder>
      <input mdInput disabled class="wide" [ngModel]="emailSubject" name="emailSubject">
    </md-input-container>

    <!-- Video -->
    <md-input-container class="wide">
      <md-placeholder>Відео (посилання):</md-placeholder>
      <input mdInput [(ngModel)]="videoUrl" name="videoUrl" class="wide bt-input video-input">
    </md-input-container>

    <!-- Message text -->
    <md-input-container class="wide">
      <md-placeholder>Текст:</md-placeholder>
      <textarea mdInput mdTextareaAutosize #resizableTextArea class="mailtext"
        [(ngModel)]="textToReader" name="textToReader">
      </textarea>
    </md-input-container>

  </form>

  <!-- Email Preview -->
  <md-card-content *ngIf="showEmailPreview" class="email-preview">
    <h3>Так буде виглядати повідомлення, яке отримає адресат:</h3>
    <p [innerHTML]="emailHtml"></p>
  </md-card-content>

  <!-- HTML Preview -->
  <div *ngIf="showHtmlPreview" class="bp-pre-html">{{emailHtml}}</div>

  <!-- Buttons -->
  <div style="float:right">
    <button (click)="toggleHtmlPreview()" *ngIf="!showHtmlPreview" md-button>Показати HTML</button>
    <button (click)="toggleHtmlPreview()" *ngIf="showHtmlPreview" md-raised-button>Сховати HTML</button>
    <button (click)="toggleSharer()" md-button>Відмінити</button>
    <button (click)="shareItem()" md-raised-button color="accent" class="bt-input">Надіслати листа</button>
  </div>

</md-card>
