<md-card-content>
<!-- <md-card> -->
  <md-card-actions>
    <md-toolbar class="add-toolbar" color="accent">Заходи проекту "{{project.title}}"
      <span class="add-fill-remaining"></span>
      <button md-raised-button (click)="addTask(project)"  *ngIf="!isAddingTaskMode && userService.hasEditPermissions(project)" color="primary">Додати захід</button>
    </md-toolbar>
  </md-card-actions>

  <!-- Add task -->
  <app-bp-task-edit [projectId]="project._id" *ngIf="isAddingTaskMode" class="add-project-inline">
  </app-bp-task-edit>

    <md-list>
       <md-list-item *ngFor="let task of tasks | async">
         <img md-list-avatar src="assets/img/avatar.jpg" alt="{{task.title}}">
         <h3 md-line><a [routerLink]="['/task/' + task._id]"><b>{{task.title}}</b></a></h3>
         <p md-line>
          <b>{{task.cost}} UAH.</b> {{task.dateEnded | date}} - {{task.dateStarted | date}}
         </p>
         <p md-line>
           <small>{{task.description}}</small>
         </p>
         <p *ngIf="userService.hasEditPermissions(task)" class="admin" style="min-width:4em;">
           <a [routerLink]="['/task/' + task._id + '/edit']"><md-icon>edit</md-icon></a>
           <a href (click)="deleteTask(task)"><md-icon>delete</md-icon></a>
         </p>
      </md-list-item>
    </md-list>

</md-card-content>
<!-- </md-card> -->
