<mat-card class="files-card" *ngIf="!!files && files.length > 0">
  <mat-toolbar color="primary">
    <span>Файли та документи</span>
  </mat-toolbar>

  <!-- FIXME Deal with null objects sometimes appeaing in DB -->

  <!-- FIXME Deal with broken links due to removed files:
    - test links via curl
    - report such files back to author
  -->

  <mat-card-content class="files-card-content">

    <mat-list class="file-list">
      <mat-list-item *ngFor="let file of files">
        <!-- TODO File link should open document preview -->
        <mat-icon color="warn" title="{{file.name}}" class="file-icon">insert_drive_file</mat-icon>
        <a href="{{file.link}}" title="{{file.name}}" target="_blank">{{file.name}}</a>
      </mat-list-item>
    </mat-list>

  </mat-card-content>

</mat-card>
