$col-fafafa: #fafafa;
$col-000: #000;

:host {
  display: block;
}

a:link,
a:visited {
  color: $col-000;
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  padding-top: 0;
}

h3 {
  font-size: 1.2em;
  letter-spacing: normal;
  padding-top: 0;
}

.task-compact-view {
  margin-bottom: .5em;
  padding: .25em 0 .5em;

  .actions {
    display: none;
  }

  .description {
    max-height: 3.6em;
    overflow: hidden;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: .2em;
    margin-top: 0;
  }
}

.task-compact-view:hover {
  background-color: $col-fafafa;

  .actions {
    display: block;
  }
}
