<!-- COMPACT VIEW - for lists etc -->
<div [routerLink]="['/task/' + task._id]" *ngIf="compactView" fxLayout="row" fxLayoutAlign="space-between center" class="task-compact-view">

  <div fxFlex="88" fxFlexOffset="2">
    <h2>
      <span *ngIf="showProjectLink=='show'">
        <a [routerLink]="['/project/' + task.projectId]">
          <small>{{projectTitle}}</small>
        </a> | </span>
      <a [routerLink]="['/task/' + task._id]">
        <b>{{task.title}}</b>
      </a>
    </h2>
    <div>{{task.cost}} UAH. {{task.dateStarted | date}} - {{task.dateEnded | date}}</div>
    <div class="description">
      <small>{{task.description}}</small>
    </div>
  </div>

  <div fxFlex="10" *ngIf="userService.hasEditPermissions(task)" class="actions">
    <a [routerLink]="['/task/' + task._id + '/edit']">
      <mat-icon color="primary">edit</mat-icon>
    </a>
    <a href (click)="deleteTask(task)">
      <mat-icon color="primary">delete</mat-icon>
    </a>
  </div>

</div>

<!-- FULL VIEW -->
<mat-card class="task-view" *ngIf="!compactView">
  <mat-card-content>

    <div>
      <!-- FIXME Implement ngrx store data selection: 
        <span>
          <a [routerLink]="['/project/' + task.project?.managerName]">{{task.project?.managerName}}:</a>
        </span>
      -->
      <span>
        <a [routerLink]="['/project/' + task.projectId]">
          Проект {{projectTitle}}
        </a>
      </span>
    </div>
    <h1>{{task.title}}</h1>
    <!-- FIXME -->
    <app-bp-donate [label]="'Підтримати захід:'" [amount]="70" [target]="task" [targetType]="'task'"></app-bp-donate>
    <!-- -->

    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.xs="column">
      <div fxFlex="45%">
        <h2>Зібрано {{task.totalDonationsReceived || 0}} з {{task.cost}} UAH</h2>
        <h3>
          <a [routerLink]="['/project/',task.projectId]">Проект: {{projectTitle}}</a>
        </h3>
        <p>Початок: {{task.dateStarted | date}}
          <br/> Кінець: {{task.dateEnded | date}}</p>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//bigpolicy.eu/task/{{task._id}}" class="SHARE FACEBOOK" onclick='window.open(this.href,"popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable"); return false;'
          target="social">
          Share on FB
        </a>
      </div>

      <div fxFlex="50%">

        <div class="visual-wrapper" *ngIf="hasVisual; else novisual">
          <div *ngIf="task.imageUrl; then images else videos"></div>
        </div>

        <ng-template #images>
          <app-image [src]="task.imageUrl || 'assets/img/project/project-placeholder.png'"></app-image>
        </ng-template>

        <ng-template #videos>
          <app-bp-video [videoUrl]="task.videoUrl" [title]="task.title" placeholderUrl="assets/img/task/task-placeholder.png"></app-bp-video>
        </ng-template>

        <ng-template #novisual>
          <div *ngIf="userService.hasEditPermissions(task)">
            <h3>Додати відео?</h3>
            <p>Цей захід не має відео. Додати його можна на
              <a [routerLink]="['/task/' + task._id + '/edit']">сторінці редагування заходу</a>
            </p>
          </div>
        </ng-template>

      </div>
    </div>

    <div class="description">
      <h3>Детальніше</h3>
      <p>{{task.description}}</p>
    </div>

    <mat-card-actions>
      <mat-toolbar *ngIf="userService.hasEditPermissions(task)" class="admin">
        <a [routerLink]="['/task/' + task._id + '/edit']">
          <button mat-raised-button>Редагувати</button>
        </a>
        <span class="add-fill-remaining"></span>
        <a href (click)="deleteTask(task)">
          <button mat-raised-button color="warn">Видалити</button>
        </a>
      </mat-toolbar>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
