$col-fafafa: #fafafa;
$col-eee: #eee;
$col-000: #000;

:host {
  display: block;
}

a:link,
a:visited {
  color: $col-000;
  text-decoration: none;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.6em;
  padding-top: 0;
}

h3 {
  font-size: 1.2em;
  letter-spacing: normal;
  padding-top: 0;
}

.task-compact-view {
  cursor: pointer;
  padding: .75em 0 .5em;

  .actions {
    display: none;
  }

  .description {
    max-height: 3.6em;
    overflow: hidden;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: .2em;
    margin-top: 0;
  }
}

.task-compact-view:hover {
  background-color: $col-fafafa;

  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);

  .actions {
    display: block;
  }
}
