$col-fafafa: #fafafa;
$col-eee: #eee;
$col-000: #000;
$col-gray: #777;
$col-darkgray: #555;

:host {
  display: block;

  .leader-name {
    color: $col-gray;
    margin-bottom: 1.5em;
    display: inline-block;
  }
  .project-title {
    color: $col-gray;
    margin-bottom: 1.5em;
    display: inline-block;
  }
}

.description {
  p {
    white-space: pre-line;
  }
}

a:link,
a:visited {
  color: inherit;
  text-decoration: underline;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.6em;
  padding-top: 0;
}

h3 {
  font-size: 1.2em;
  letter-spacing: normal;
  padding-top: 0;
}

.task-compact-view {
  cursor: pointer;
  padding: .75em 0 .5em;

  .actions {
    display: none;
  }

  .description {
    max-height: 3.6em;
    overflow: hidden;
    white-space: pre-line;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: .2em;
    margin-top: 0;
  }
}

.task-compact-view:hover {
  background-color: $col-fafafa;

  .actions {
    display: block;
  }
}

.visual-wrapper {
  height: 280px;

  app-bp-video {
    height: 100%;
    width: 100%;
  }
}
