.app-toolbar {
  // FIXME Use Theme BG color
  background-color: #455a64;

  .mat-button,
  .mat-button-ripple {
    color: #fafafa;
    font-size: .8em;
  }

  .mat-button:hover {
    background-color: #fff;
    color: #c30;
  }

  >button,
  >span {
    text-align: center;
  }
}

.nav-xs {
  >button,
  >span {
    width: 100%;
  }
}

.fab-logo {
  height: 65px;
  left: -30px;
  margin: -4em 50%;
  position: absolute;
  width: 65px;
}

.fab-logo-xs {
  margin-top: -10.1em;
}

.logo {
  height: 45px;
  margin: .62em auto .2em;
  width: 45px;
}

.fab-logo:hover {
  border: 3px solid #fff;

  .logo {
    margin-top: .4em;
  }
}
