<md-toolbar color="primary">
  <button class="sd-icon-button">
    <!-- <i class="material-icons sd-toolbar-menu">menu</i> -->
  </button>BigPolicy
  <span class="sd-toolbar-filler"></span>
  <!-- <more></more> -->

  <a *ngIf="!userService.authenticated()" (click)="userService.login()"><button md-button>Login</button></a>

  <span *ngIf="userService.authenticated()" class="toolbar-username">
    <a [routerLink]="['/profile']" color="primary" >{{userService.userProfile ? userService.userProfile.name : ''}} <md-icon size="36">account_circle</md-icon></a>
    <a (click)="userService.logout()"><button md-button>Logout</button></a>
  </span>
</md-toolbar>
