md-toolbar-row {
  justify-content: space-between;
}

a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

a, span, p, div, .toolbar-inline-icon {
  font-size: 1em;
  vertical-align: middle;
}

.username {
   flex: 1 1 auto;
   text-align: right;
}
