<md-toolbar color="primary">
  <span class="logo">
    <a [routerLink]="['/']">
      <md-icon class="toolbar-inline-icon">group_work</md-icon>
      <span>BigPolicy</span>
    </a>
  </span>

  <span class="username">
    <a *ngIf="!userService.authenticated()" (click)="userService.login()"><span>Увійти</span></a>
    <span *ngIf="userService.authenticated()" class="toolbar-username">
      <!-- FIXME Override User Profile Name with Leader Name ? -->
      <a [routerLink]="['/profile']">
        <span>{{userService.userProfile ? userService.userProfile.name : ''}}</span>
        <span *ngIf="userService.isAdmin()">(адмін)</span>
        <md-icon class="toolbar-inline-icon">account_circle</md-icon>
      </a>
      <a (click)="userService.logout()"><span>Вийти</span></a>
    </span>
  </span>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  
</md-toolbar>

<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle Theme</button>
</md-menu>
