.app-toolbar {
  // FIXME Use Theme BG color
  background-color: #677;

  .mat-button,
  .mat-button-ripple {
    color: #fafafa;
    font-size: 1rem;
  }

  >button,
  >span {
    text-align: center;
  }
}

.nav-xs {
  >button,
  >span {
    width: 100%;
  }
}

.logo {
  margin: .3rem auto;
}
