.app-toolbar {
  box-sizing: border-box;
  display: block;
  padding: 0;
  background-color: #677;

  .mat-button,
  .mat-button-ripple {
    color: #fafafa;
    width: 20%;
  }
}

.tb-xs {
  .mat-button {
    width: 100%;
  }
}

a,
span,
p,
div,
button {
  font-size: 0.8rem;
}

.logo {
  margin: .25rem .45rem;
  vertical-align: middle;
}

.toolbar-inline-icon {
  vertical-align: bottom;
}
