<md-card>
  <md-card-title>Проекти</md-card-title>
  <md-card-subtitle>Як зробити діяльність прозорою? Будь-який діяч є менеджером проектів.
    Кожен проект має визначені  бюджет, строки і результат. Результат оцінює спільнота.
    Менеджер реагує на критику і відповідає на запитання.
  </md-card-subtitle>

  <!-- <md-card-content> -->

    <app-project-list [pageSize]="24"></app-project-list>

  <!-- </md-card-content> -->
  <!-- <md-card-actions>
    <a href="/projects"><button md-button color="primary">Переглянути усі проекти</button></a>
  </md-card-actions> -->
</md-card>
