<mat-card>
  <mat-card-title>Проекти</mat-card-title>
  <mat-card-subtitle>Як зробити діяльність прозорою? Будь-який лідер є менеджером проектів.
    Кожен проект має визначені  бюджет, строки і результат. Результат оцінює спільнота.
    Менеджер реагує на критику і відповідає на запитання.
  </mat-card-subtitle>

  <!-- <mat-card-content> -->

    <app-project-list [pageSize]="24"></app-project-list>

  <!-- </mat-card-content> -->
  <!-- <mat-card-actions>
    <a href="/projects"><button mat-button color="primary">Переглянути усі проекти</button></a>
  </mat-card-actions> -->
</mat-card>
