/*
was in initiall seed by mg

 :host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
} */

.add-toolbar {
  padding: 0px 1em;
}

.add-toolbar .add-toolbar-icon {
  padding: 0 14px;
}

.add-toolbar .add-fill-remaining {
  flex: 1 1 auto;
}

.demo-basic {
  padding: 0;
}
.demo-basic md-card-content {
  padding: 16px;
}
.demo-full-width {
  width: 100%;
}

.demo-icons {
  font-size: 100%;
  height: inherit;
  vertical-align: top;
  width: inherit;
}

.demo-transform {
  transition: color $swift-ease-out-duration $swift-ease-out-timing-function;
}
.demo-primary {
  color: md-color($md-primary);
}

.demo-card {
  margin: 16px;
}

.grid {
  border-style: solid;
}

.one {
  width: 30%;
}
