<md-card class="leader-edit-card">
  <form>
  <md-card-content>
    <md-card-title>
      <span *ngIf="!isUpdateMode">Стати діячем</span>
      <span *ngIf="isUpdateMode">Редагувати діяча</span>
    </md-card-title>

      <!-- FIXME Make Mobile-friendly with Flexbox -->
      <md-card-content>
        <md-card-header class="leader-edit-basic-details">
          <!-- FIXME - process temp_reg_id in FTUX process -->
          <app-uploader folder="bp-files/users/{{leader._id || 'tmp_user_reg_id'}}/avatars" listFiles="no" buttonType="fab" (uploadedFileUrlChange)="leader.onPhotoUrlChange($event)"></app-uploader>
          <app-image [src]="leader.photo || 'assets/img/avatar-generic.png'"></app-image>
          <div class="leader-names-input">
            <md-input-container>
              <input mdInput required [ngModelOptions]="{standalone: true}" [(ngModel)]="leader.name" placeholder="Ім'я" style="width: 100%">
            </md-input-container>
            <md-input-container>
              <input mdInput required [ngModelOptions]="{standalone: true}" [(ngModel)]="leader.surName" placeholder="Прізвище" style="width: 100%">
            </md-input-container>
            <!-- TODO: Use existing video control to auto-extend functionality on input -->
            <md-input-container hintLabel="Посилання на відео YouTube" >
              <input mdInput video-control [(ngModel)]="leader.videoUrl" placeholder="Відео:" [ngModelOptions]="{standalone: true}" >
            </md-input-container>
          </div>
        </md-card-header>

        <div class="problem-statement">

          <h3>Як виглядає проблема для тебе?</h3>

          <md-input-container>
            <textarea mdInput mdTextareaAutosize required maxLength="1000" [(ngModel)]="leader.vision" placeholder="Твоя особиста візія і думки" characterCounter [ngModelOptions]="{standalone: true}">
            </textarea>
          </md-input-container>

          <h3>Який аспект проблеми ти хочеш вирішити?</h3>

          <md-input-container>
            <textarea mdInput mdTextareaAutosize required maxLength="1000" [(ngModel)]="leader.mission" placeholder="Твоя місія" characterCounter [ngModelOptions]="{standalone: true}" >
            </textarea>
          </md-input-container>

        </div>

        <!-- User should only be able to edit his own files, thus matching his email in gdrive -->
        <div *ngIf="isUpdateMode">
          <app-bp-files *ngIf="userService.isOwner(leader)" [userService]="userService" (onFileListUpdate)="onFileListUpdate($event)"></app-bp-files>
          <app-files-view *ngIf="!userService.isOwner(leader)" [files]="leader.leaderFiles" ></app-files-view>
        </div>

      </md-card-content>

      <!--

      <md-toolbar class="add-toolbar" color="primary">Проекти
        <span class="add-fill-remaining"></span>
        <span *ngIf="isUpdateMode">
          <button disabled='disabled' md-raised-button (click)="addProject()" color="accent">Додати проект</button>
        </span>
      </md-toolbar>

      <md-card-content>
        <h3>Як ти вирішиш цю проблему?</h3>

        <md-input-container>
          <input mdInput name="description" characterCounter style="width: 100%;" placeholder="Опиши свій проект: " hintLabel="">
        </md-input-container>

        <md-input-container>
          <input mdInput name="amount" placeholder="Сума, грн" align="end" mdPrefix="Який бюджет тобі на це потрібен? UAH&nbsp;" mdSuffix="00">
        </md-input-container>
      </md-card-content>

      <md-toolbar class="add-toolbar" color="primary">Твоя програма
        <span class="add-fill-remaining"></span>
        <span *ngIf="isUpdateMode">
          <button disabled='disabled' md-raised-button (click)="addProject()" color="accent">Додати ще одну ціль</button>
        </span>
      </md-toolbar>

      <md-card-content>
        <h3>Які цілі ти ставиш собі на 3 роки вперед?</h3> Головна ціль:
        <md-input-container>
          <input mdInput name="name" [(ngModel)]="name" type="text" placeholder="Опиши коротко">
        </md-input-container>*

        <p>
          Другорядна ціль:
          <md-input-container>
            <input mdInput name="name" [(ngModel)]="name" type="text" placeholder="Опиши коротко">
          </md-input-container>*
        </p>
      </md-card-content>

      <md-toolbar class="add-toolbar" color="white">Додатково</md-toolbar>

      <md-card-content>
        <md-card-title>
          Належиш до партії?
          <md-input-container>
            <input mdInput name="party" type="text" placeholder="Вкажи партію">
          </md-input-container>
        </md-card-title>

        <md-card-title>
          Офіційна посада:
          <md-input-container>
            <input mdInput name="title" type="text" placeholder="Вкажи свою посаду">
          </md-input-container>
        </md-card-title>
      </md-card-content>

      <md-toolbar class="add-toolbar" color="accent">Твої профілі у соцмережах:
        <span class="add-fill-remaining"></span>
        <button md-button><md-icon>add</md-icon>Додати</button>
      </md-toolbar>

      <md-card-content>
        <md-card-title>
          Профілі не вказано
        </md-card-title>
      </md-card-content>

      <md-toolbar class="add-toolbar" color="white">
        <h2>Завантаж необхідні документи:</h2>
      </md-toolbar>

      <md-card-content>
        <ul>
        <li><a><md-icon color="primary">attach_file</md-icon>Програма дій</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Передвиборча програма</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Скан паспорту</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Довідка про судимості</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Антикорупційні документи</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Публічна майнова декларація</a></li>
      </ul>
      </md-card-content>

      <ul style="list-style-type:none">
        <li>
          <md-checkbox [checked]="false" align="start">
            Я даю згоду на обробку моїх персональних данних.
          </md-checkbox>
        </li>
        <li>
          <md-checkbox [checked]="false" align="start">
            Я погоджуюся з умовами роботи BigPolicy
          </md-checkbox>
        </li>
      </ul>
      <br>

    -->

    <md-toolbar class="add-toolbar" color="#fff">
      <button md-raised-button color="primary" type="submit" (click)="onSaveLeaderClick()">Готово</button>
      <!-- <button md-raised-button disabled color="accent">Як буде виглядати моя сторінка?</button> -->
      <span class="add-fill-remaining"></span>
      <button md-button *ngIf="isUpdateMode" color="warn" (click)="deleteLeader(leader)">Видалити</button>
    </md-toolbar>

  </md-card-content>
  </form>
</md-card>
