<form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
  <label>
    <span>Full name</span>
    <input
      type="text"
      name="name"
      placeholder="Your full name"
      formControlName="name">
      <div *ngIf="user.get('name').hasError('required') && user.get('name').touched" >
        Name is required =0
      </div>
      <div *ngIf="user.get('name').hasError('minlength') && user.get('name').touched" >
        Name is should be at least tow chars
      </div>
  </label>
  <div formGroupName="account">
    <label>
      <span>Email address</span>
      <input
        type="email"
        name="email"
        placeholder="Your email address"
        formControlName="email">
        <div *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched" >
          Email is required =0
        </div>
    </label>
    <label>
      <span>Confirm address</span>
      <input
        type="email"
        name="confirm"
        placeholder="Confirm your email address"
        formControlName="confirm">
    </label>
    <div *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched" >
      Email is required =0
    </div>
  </div>
  <button type="submit" [disabled]="user.invalid">OKI</button>
  <!-- {{ user | json}} -->
  <h2>erorrs:</h2>
  <pre>
    n2 {{ user.get('name').errors | json }}
    e2 {{ user.get('account').get('email').errors | json }}
  </pre>
</form>
