.leader-edit-card {
  padding: 0;

  md-card-content {
    padding: 24px;
  }
}

md-input-container,
input,
textarea {
  width: 100%;
}

.leader-edit-basic-details {
  height: 160px;
}

.problem-statement {
  // margin-top: 100px;
}

.leader-names-input {
  margin: -1em 3em 0;
}
