<md-card class="demo-card demo-basic">
  <form>
  <md-card-content>
    <md-toolbar class="add-toolbar" color="primary">Реєстрація лідера
      <span class="add-fill-remaining"></span>
      <a href (click)="deleteLeader(leader)"><button md-raised-button color="warn">Видалити</button></a>
      <!-- <md-toolbar-row>
          <span>Second Line</span>
        </md-toolbar-row> -->
      </md-toolbar>
      <!--LOGO OF LEADER-->
      <md-card-content>
        <md-card-header>
          <button md-mini-fab  class="md-24" >
            <md-icon color="white">file_upload</md-icon>
          </button>
          <img md-card-md-image src="assets/img/avatar-generic.png">
          <p style="margin-left:2em;">
            <big><md-input [(ngModel)]="leader.name" placeholder="Ім'я" style="width: 100%"></md-input></big>
            <big><md-input [(ngModel)]="leader.surName" placeholder="Прізвище" style="width: 100%"></md-input></big>
          </p>
        </md-card-header>

        <md-card-content style="margin-top:100px;">

        <h3>Як виглядає проблема для тебе?</h3>

          <md-input [(ngModel)]="leader.vision" characterCounter style="width: 100%;" placeholder="Твоя особиста візія і думки" hintLabel="">
          </md-input>

          <h3>Який аспект проблеми ти хочеш вирішити?</h3>

          <md-input [(ngModel)]="leader.mission" characterCounter style="width: 100%;" placeholder="Твоя місія" hintLabel="">
          </md-input>

        </md-card-content>
      </md-card-content>

      <md-toolbar class="add-toolbar" color="primary">Проекти
        <span class="add-fill-remaining"></span>
        <button md-raised-button (click)="addProject()" color="accent">Додати проект</button>
      </md-toolbar>
      <h3>Як ти вирішиш цю проблему?</h3>

      <md-input characterCounter style="width: 100%;" placeholder="Опиши свій проект: *" hintLabel="">
      </md-input>

      <md-input placeholder="Сума, грн" align="end">
        <span md-prefix>Який бюджет тобі на це потрібен? ₴&nbsp;</span>
        <span md-suffix>.00 </span>
      </md-input>

      <md-toolbar class="add-toolbar" color="primary">Твоя програма
        <span class="add-fill-remaining"></span>
        <button md-raised-button (click)="addProject()" color="accent">Додати ще одну ціль</button>
      </md-toolbar>

      <h3>Які цілі ти ставиш собі на 3 роки вперед?</h3> Головна ціль:
      <md-input [(ngModel)]="name" type="text" placeholder="Опиши коротко"></md-input>*

      <p>
        Другорядна ціль:
        <md-input [(ngModel)]="name" type="text" placeholder="Опиши коротко"></md-input>*
      </p>

      <md-toolbar class="add-toolbar" color="white">Додатково</md-toolbar>

      <md-card-content>
        <md-card-title>
          Належиш до партії?
          <md-input type="text" placeholder="Вкажи партію"></md-input>
        </md-card-title>

        <md-card-title>
          Офіційна посада:
          <md-input type="text" placeholder="Вкажи свою посаду"></md-input>
        </md-card-title>
      </md-card-content>

      <md-toolbar class="add-toolbar" color="accent">Твої профілі у соцмережах:
        <span class="add-fill-remaining"></span>
        <button md-button><md-icon>add</md-icon>Додати</button>
        <button md-button color="warn">Видалити</button>
      </md-toolbar>

      <md-card-content>
        <md-card-title>
          Профілі не вказано
        </md-card-title>
      </md-card-content>

      <md-toolbar class="add-toolbar" color="white">
        <h2>Завантаж необхідні документи:</h2>
      </md-toolbar>

      <md-card-content>
        <ul>
        <li><a><md-icon color="primary">attach_file</md-icon>Програма дій</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Передвиборча програма</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Скан паспорту</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Довідка про судимості</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Антикорупційні документи</a></li>
        <li><a><md-icon color="primary">attach_file</md-icon>Публічна майнова декларація</a></li>
      </ul>
      </md-card-content>

      <ul style="list-style-type:none">
        <li>
          <md-checkbox [checked]="false" align="start">
            Я даю згоду на обробку моїх персональних данних.
          </md-checkbox>
        </li>
        <li>
          <md-checkbox [checked]="false" align="start">
            Я погоджуюся з умовами роботи BigPolicy
          </md-checkbox>
        </li>
      </ul>
    <br>
    <button type="submit" md-raised-button color="primary" (click)="saveLeader()">Готово</button>
    <button md-raised-button>Як буде виглядати моя сторінка?</button>
  </md-card-content>
  </form>
</md-card>

<!--

  JUST SOME SNIPPETS TO BE REUSED

    The example of name list service from

      <ul>
        <li *ngFor="let name of leaderService.get()">{{name}}</li>
      </ul>

      <md-input style="width: 100%" [(ngModel)]="newName" placeholder="Вкажи своє прізвище, ім'я та по-батькові:"></md-input>

    PREFILL LIKE ADDRESS:

      <p>
        <md-input class="demo-full-width" placeholder="Як виглядає проблема для тебе?*" value="Твоя особиста візія і думки"></md-input>
      </p>

      <md-input style="width: 100%" [(ngModel)]="newName" placeholder="Як виглядає проблема для тебе?*"
      value="Твоя особиста візія і думки"></md-input>

      <md-input-container>
        <label>Color</label>
        <input type="text" ng-model="color" required md-maxlength="10">
      </md-input-container>

      <md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="Google">
      </md-input>

      <table style="width: 100%" cellspacing="0"><tr>
        <td><md-input class="demo-full-width" placeholder="City" value="Mountain View"></md-input></td>
        <td><md-input class="demo-full-width" placeholder="State" maxLength="2" value="CA"></md-input></td>
        <td><md-input #postalCode class="demo-full-width" maxLength="5"
                      placeholder="Postal Code"
                      value="94043">
          <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
        </md-input></td>
      </tr></table>
    -->
