<md-card class="demo-card demo-basic">
  <md-card-content>
    <md-toolbar color="primary">Реєстрація лідера</md-toolbar>
    <form>
      <!--LOGO OF LEADER-->
      <table style="width: 100%" cellspacing="0">
        <tr>
          <md-card style="width: 30%">
            <img md-card-md-image src="assets/img/avatar.jpg">
            <md-card-content>Фокусування на тому, що дійсно робить світ краще.</md-card-content>
            <md-card-title>Завантаж:</md-card-title>
            <md-card-actions style="align:end">
              <button md-button>Фото</button>
              <button md-button>Відео</button>
              <button md-button>Твоє Лого</button>
            </md-card-actions>
          </md-card>
          <td>
            <md-input placeholder="Ім'я" style="width: 100%"></md-input>
          </td>
          <td>
            <md-input placeholder="Прізвище" style="width: 100%"></md-input>
          </td>
        </tr>
      </table>
      <h3>Як виглядає проблема для тебе?</h3>

      <md-input characterCounter style="width: 100%;" placeholder="Твоя особиста візія і думки" hintLabel="">
      </md-input>

      <h3>Який аспект проблеми ти хочеш вирішити?</h3>

      <md-input characterCounter style="width: 100%;" placeholder="Твоя місія" hintLabel="">
      </md-input>

      <md-toolbar color="primary">Заходи та проекти</md-toolbar>
      <h3>Якими заходами ти вирішиш цю проблему?</h3>

      <md-input characterCounter style="width: 100%;" placeholder="Опиши свій проект чи захід: *" hintLabel="">
      </md-input>

      <md-input placeholder="Сума, грн" align="end">
        <span md-prefix>Який бюджет тобі на це потрібен? ₴&nbsp;</span>
        <span md-suffix>.00 </span>
      </md-input>

      <p>
        <button md-raised-button (click)="addProject()">Додати ще один захід або проект</button>
      </p>

      <md-toolbar color="primary">Твоя програма</md-toolbar>

      <h3>Які цілі ти ставиш собі на 3 роки вперед?</h3> Головна ціль:
      <md-input [(ngModel)]="name" type="text" placeholder="Опиши коротко"></md-input>*

      <p>
        Другорядна ціль:
        <md-input [(ngModel)]="name" type="text" placeholder="Опиши коротко"></md-input>*
      </p>

      <p>
        <button md-raised-button (click)="addProject()">Додати ще одну ціль</button>
      </p>

      <md-toolbar color="primary">Додатково</md-toolbar>

      <md-card-title>
        Належиш до партії?
        <md-input type="text" placeholder="Вкажи партію"></md-input>
      </md-card-title>

      <md-card-title>
        Офіційна посада:
        <md-input type="text" placeholder="Вкажи свою посаду"></md-input>
      </md-card-title>

      <p>
        <button md-raised-button (click)="addProject()">Додати ще одну ціль</button>
      </p>

      <md-toolbar color="primary">Вкажи свої профілі у соцмережах:</md-toolbar>

      <!-- JUST SOME SNIPPETS TO BE REUSED

        The example of name list service from
        <ul>
          <li *ngFor="let name of nameListService.get()">{{name}}</li>
        </ul>

        <md-input style="width: 100%" [(ngModel)]="newName" placeholder="Вкажи своє прізвище, ім'я та по-батькові:"></md-input>

        PREFILL LIKE ADDRESS:
        <p>
          <md-input class="demo-full-width" placeholder="Як виглядає проблема для тебе?*" value="Твоя особиста візія і думки"></md-input>
        </p>

        <md-input style="width: 100%" [(ngModel)]="newName" placeholder="Як виглядає проблема для тебе?*"
        value="Твоя особиста візія і думки"></md-input>

        <md-input-container>
          <label>Color</label>
          <input type="text" ng-model="color" required md-maxlength="10">
        </md-input-container>

        <md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="Google">
        </md-input>

        <table style="width: 100%" cellspacing="0"><tr>
          <td><md-input class="demo-full-width" placeholder="City" value="Mountain View"></md-input></td>
          <td><md-input class="demo-full-width" placeholder="State" maxLength="2" value="CA"></md-input></td>
          <td><md-input #postalCode class="demo-full-width" maxLength="5"
                        placeholder="Postal Code"
                        value="94043">
            <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
          </md-input></td>
        </tr></table>
        -->
    </form>
  </md-card-content>
</md-card>

<md-card class="demo-card demo-basic">
  <md-card-content>
    <md-toolbar color="primary">Документи для Діяльності</md-toolbar>
    <md-card-content>
      <md-card-header>
        <h2>Завантаж необхідні документи:</h2>
      </md-card-header>
      <button md-raised-button color="primary">Програма Дій</button>
      <button md-raised-button color="primary">Передвиборча Програма</button>
      <button md-raised-button color="accent">Скан Паспорту</button>
      <button md-raised-button color="accent">Довідка про судимості</button>
      <button md-raised-button color="warn">Антикорупційні документи</button>
      <button md-raised-button color="primary" color="warn">Публічна майнова декларація</button>
    </md-card-content>
    <ul style="list-style-type:none">
      <li>
        <md-checkbox [checked]="false" align="start">
          Я даю згоду на обробку моїх персональних данних.
        </md-checkbox>
      </li>
      <li>
        <md-checkbox [checked]="false" align="start">
          Я погоджуюся з умовами роботи BigPolicy
        </md-checkbox>
      </li>
      <br>
      <button type="submit" md-raised-button color="primary" (click)="addName()">Готово</button>
      <button md-raised-button>Як буде виглядати моя сторінка?</button>
    </ul>
  </md-card-content>
</md-card>
