.leader-edit-card {
  padding: 0; 
  text-align: center;

  md-card-content {
    padding: 24px;
  }
}

md-input-container,
input,
textarea {
  width: 100%;
}

.problem-statement {
  // margin-top: 100px;
}

// FIXME_SCCS
$reddish: #e30;

.validation-error {
  border-right: 1em solid $reddish;
  color: $reddish;
  margin-bottom: 1.1em;
  margin-top: -1em;
}
