<!-- Leader image/video fxFlex.sm="50%" fxFlex.xs="100%" -->
<div class="visual-wrapper" *ngIf="hasVisual; else novisual" fxLayout="row">
  <div fxFlexFill *ngIf="media.photo; then images"></div>
</div>

<ng-template #images>
  <app-image [src]="media.photo || 'assets/img/avatar-generic.png'"></app-image>
</ng-template>

<ng-template #novisual>
  <div *ngIf="hasEditPermissions">
    <h3>Додати відео чи зображення?</h3>
    <p>Тут немає ані відео, ані зображення.
      <a [routerLink]="['/media/' + media._id + '/edit']">
        Додати
      </a>?
    </p>
  </div>
</ng-template>
