:host {
  display: block;
  margin-bottom: 2em;
}

.send-btn {
  font-size: 1em;
  padding: 1em;
}

.donate-component.ready {
  border: 1px solid green;
  border-radius: 1em;
  padding: 1.5em;
  background: ghostwhite;
}