<div class="donate-component" [ngClass]="readyToDonate ? 'ready mat-elevation-z5' : ''">

  <div *ngIf="readyToDonate">
    <div [innerHTML]="donationFormHtml"></div>
    <p>Увага: натиснувши кнопку "Переказати", Ви перейдете на сторінку оплати,
      щоб переказати кошти у зручний для Вас спосіб.
    </p>
    <button (click)="onDonateToggle()" mat-button>Відмінити</button>
  </div>

  <button *ngIf="!readyToDonate" (click)="onDonateToggle()" mat-raised-button color="accent">{{label}} {{this.amount}} UAH
  </button>
  <button *ngIf="!readyToDonate && target.totalDonationsReceived>0" (click)="onToggleDonationsList()" mat-button
          color="accent">Усього: {{target.totalDonationsReceived || 0}} UAH
  </button>

  <app-donations-list title="Усі внески:" [target]="target" [targetType]="targetType" [pageSize]="10" dbQuery="{}"
                      *ngIf="donationsListVisible"></app-donations-list>

</div>
