<md-card>
  <md-card-content>
    <h2>Діячі</h2>
    <div class="leadears-mockup">
      <md-list>
         <md-list-item *ngFor="let leader of leaders">

           <md-card>
             <md-card-header>
               <img md-card-avatar src="assets/img/avatar-generic.png">
               <md-card-title>{{leader.name}} {{leader.surName}}</md-card-title>
               <!-- <md-card-subtitle>{{leader.name}} {{leader.surName}}</md-card-subtitle> -->
             </md-card-header>
             <md-card-content>
                 Візія: {{leader.vision}}
                 <br/>
                 <br/>
             </md-card-content>
             <md-card-actions>
               <a [routerLink] = "['/leader/' + leader._id]"><button md-button md-raised-button color="primary">Підтримати</button></a>
               <a [routerLink] = "['/leader/' + leader._id + '/edit']"><button md-button color="accent">Редагувати</button></a>
               <a href (click) = "deleteLeader(leader)"><button md-button color="warn">Видалити</button></a>
             </md-card-actions>
           </md-card>

           <br />
           <br />

        </md-list-item>
      </md-list>
    </div>
  </md-card-content>
</md-card>
