<!-- Usage: <app-leader-list [groupId]="123" [pageSize]="10"></app-leader-list> -->
<md-card>
  <md-card-title>Лідери</md-card-title>
  <md-card-content>

    <!--
    TODO
    <p disabled>Показати у спискові:
      <select disabled>
        <option>члени партії...</option>
        <option>РПР</option>
        <option>ЩЗП</option>
      </select>

     <a href="#" disabled>активісти</a> з регіону:
      <select disabled>
        <option>Усі регіони</option>
        <option>Львів</option>
        <option>Харків</option>
      </select>
    </p> -->

    <div class="leaders-list">
     <div *ngFor="let leader of itemsPage.docs | async | paginate: {
                                                           id: 'leaderItemsPage',
                                                           itemsPerPage: this.pageSize,
                                                           currentPage: itemsPage.page,
                                                           totalItems: itemsPage.total
                                                         }">
      <md-card class="leader-card">
        <md-card-title><a [routerLink] = "['/leader/' + leader._id]">{{leader.name}} {{leader.surName}}</a>
          <span *ngIf="userService.isOwner(leader)">
            (я)
          </span>
        </md-card-title>
        <md-card-content fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="space-between stretch" fxLayout.xs="column">
          <app-image fxFlex="35%" [src]="leader.photo || 'assets/img/avatar-generic.png'"></app-image>
          <div>
            <b>Візія:</b> {{leader.vision}}
          </div>
        </md-card-content>
        <md-card-actions>
          <a [routerLink] = "['/leader/' + leader._id]"><button md-button md-raised-button color="primary">Підтримати</button></a>
          <span *ngIf="userService.hasEditPermissions(leader)">
            <a [routerLink] = "['/leader/' + leader._id + '/edit']"><button md-button color="accent">Редагувати</button></a>
            <a href (click) = "deleteLeader(leader)"><button md-button color="warn">Видалити</button></a>
          </span>
        </md-card-actions>
      </md-card>
     </div>

     <pagination-controls
       id = "leaderItemsPage"
       (pageChange)="pageChanged($event)"
       [maxSize]="5"
       directionLinks="true"
       previousLabel="Previous"
       nextLabel="Next"
       autoHide="true"
       >
    </pagination-controls>

    <p>Усього лідерів: {{itemsPage.total}}</p>
    </div>

  </md-card-content>
</md-card>
