// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/core/theming/all-theme';

:host {

  .inline-icon {
    float: right;
  }

  md-dialog-actions {
    margin: 1em 0 0;
  }

  .styled {
    font-family: $mat-font-family;
  }
}
