// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/_theming.scss';

:host {
  .inline-icon {
    float: right;
  }

  mat-dialog-actions {
    margin-top: 1em;
  }

  .styled {
    font-family: Arial, Helvetica, sans-serif;
  }
}
