<div class="mat-typography">

  <app-bp-toolbar></app-bp-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <footer>

    <p>
      BigPolicy &amp; Creative Commons 2017 v.{{version}}
      <br />
      <a [routerLink]="['/privacy']">Політика конфіденційності</a>
      <br />
      <a [routerLink]="['/about']">Проект</a>
      <br />
    </p>

    <p>
      <a [routerLink]="['/about']">
        <img width="40" class="logo" src="assets/img/logo.png" />
      </a>
    </p>

  </footer>

</div>
