<div class="mat-typography app" fxLayout="column" fxLayoutAlign="space-between stretch">

  <app-bp-toolbar fxFlex></app-bp-toolbar>

  <div class="app-content" fxFlex="1">

    <router-outlet></router-outlet>

  </div>

  <footer fxFlex>

    <p>
      BigPolicy &amp; Creative Commons 2016-2018 v.{{version}}
      <br />
      <a [routerLink]="['/privacy']">Політика конфіденційності</a>
      <br />
      <a [routerLink]="['/about']">Проект</a>, <a [routerLink]="['/generator']">&gamma;</a>
      <br />
    </p>

    <p>
      <a [routerLink]="['/about']">
        <img width="40" class="logo" src="assets/img/logo.png" />
      </a>
    </p>

  </footer>

</div>
