<div [class.bp-dark-theme]="userService.isDarkTheme">

  <app-bp-toolbar></app-bp-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <footer>Creative Commons and BigPolicy 2015-2017 v.{{version}}
    <br/>
    <p>
      <a [routerLink]="['/about']">
        <img width="40" class="logo" src="assets/img/logo.png" />
      </a>
    </p>
    <p>
      <a [routerLink]="['/about']">Про проект</a>. <a [routerLink]="['/privacy']">Політика конфіденційності</a>
    </p>
  </footer>

</div>
