:host {
  box-sizing: border-box;
}

.app-content {
  box-sizing: border-box;
  padding: 2rem;
  min-height: 70vh;
}

footer {
  border-top: 1px solid #eee;
  font-family: sans-serif;
  font-size: .75rem;
  padding: 1em;
  text-align: center;
}
