<div class="popular-companies">
  <mat-card class="company-brief-block">
    <div class="company-cover-wraper">
      <img mat-card-image class="company-cover" src="{{company.imageUrl || '../../../../../../assets/img/company/company.jpg" alt="company image">
      <div fxLayout="row" class="last-pay-block">
        <div fxLayout="column" fxLayoutAlign="center" class="last-pay">
          <p>150₴</p>
          <p>Останній внесок</p>
        </div>
      </div>
    </div>
    <mat-card-content>
      <p>Гроші були надіслані на проект:</p>
      <mat-card-title class="company-title">It was popularised in the 1960s sheets containing  | slice : 0 : 50</mat-card-title>
      <p class="company-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia temporibus itaque commodi fuga nesciunt cum asperiores, ducimus omnis. Quam placeat eligendi molestias mollitia laboriosam ipsum rem, minima officiis quaerat minus? | slice : 0 : 150</p>
      <p class="company-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat alias possimus ipsum minus, sint sapiente? Soluta impedit dolores | slice : 0 : 100</p>
    </mat-card-content>
    <div class="btn-action">
      <mat-card-actions fxLayout="row" fxLayoutAlign="center">
        <a href="#"><button mat-raised-button  class="info-btn color-btn">Детальніше</button></a>
      </mat-card-actions>
    </div>
  </mat-card>
  <mat-card class="company-brief-block">
    <div class="company-cover-wraper">
      <img mat-card-image class="company-cover" src="{{company.imageUrl || '../../../../../../assets/img/company/company.jpg" alt="company image">
      <div fxLayout="row" class="last-pay-block">
        <div fxLayout="column" fxLayoutAlign="center" class="last-pay">
          <p>150₴</p>
          <p>Останній внесок</p>
        </div>
      </div>
    </div>
    <mat-card-content>
      <p>Гроші були надіслані на проект:</p>
      <mat-card-title class="company-title">It was popularised in the 1960s sheets containing  | slice : 0 : 50</mat-card-title>
      <p class="company-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia temporibus itaque commodi fuga nesciunt cum asperiores, ducimus omnis. Quam placeat eligendi molestias mollitia laboriosam ipsum rem, minima officiis quaerat minus? | slice : 0 : 150</p>
      <p class="company-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat alias possimus ipsum minus, sint sapiente? Soluta impedit dolores | slice : 0 : 100</p>
    </mat-card-content>
    <div class="btn-action">
      <mat-card-actions fxLayout="row" fxLayoutAlign="center">
        <a href="#"><button mat-raised-button  class="info-btn color-btn">Детальніше</button></a>
      </mat-card-actions>
    </div>
  </mat-card>
  <mat-card class="company-brief-block">
    <div class="company-cover-wraper">
      <img mat-card-image class="company-cover" src="{{company.imageUrl || '../../../../../../assets/img/company/company.jpg" alt="company image">
      <div fxLayout="row" class="last-pay-block">
        <div fxLayout="column" fxLayoutAlign="center" class="last-pay">
          <p>150₴</p>
          <p>Останній внесок</p>
        </div>
      </div>
    </div>
    <mat-card-content>
      <p>Гроші були надіслані на проект:</p>
      <mat-card-title class="company-title">It was popularised in the 1960s sheets containing  | slice : 0 : 50</mat-card-title>
      <p class="company-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia temporibus itaque commodi fuga nesciunt cum asperiores, ducimus omnis. Quam placeat eligendi molestias mollitia laboriosam ipsum rem, minima officiis quaerat minus? | slice : 0 : 150</p>
      <p class="company-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat alias possimus ipsum minus, sint sapiente? Soluta impedit dolores | slice : 0 : 100</p>
    </mat-card-content>
    <div class="btn-action">
      <mat-card-actions fxLayout="row" fxLayoutAlign="center">
        <a href="#"><button mat-raised-button  class="info-btn color-btn">Детальніше</button></a>
      </mat-card-actions>
    </div>
  </mat-card>
  <mat-card class="company-brief-block">
    <div class="company-cover-wraper">
      <img mat-card-image class="company-cover" src="{{company.imageUrl || '../../../../../../assets/img/company/company.jpg" alt="company image">
      <div fxLayout="row" class="last-pay-block">
        <div fxLayout="column" fxLayoutAlign="center" class="last-pay">
          <p>150₴</p>
          <p>Останній внесок</p>
        </div>
      </div>
    </div>
    <mat-card-content>
      <p>Гроші були надіслані на проект:</p>
      <mat-card-title class="company-title">It was popularised in the 1960s sheets containing  | slice : 0 : 50</mat-card-title>
      <p class="company-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia temporibus itaque commodi fuga nesciunt cum asperiores, ducimus omnis. Quam placeat eligendi molestias mollitia laboriosam ipsum rem, minima officiis quaerat minus? | slice : 0 : 150</p>
      <p class="company-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat alias possimus ipsum minus, sint sapiente? Soluta impedit dolores | slice : 0 : 100</p>
    </mat-card-content>
    <div class="btn-action">
      <mat-card-actions fxLayout="row" fxLayoutAlign="center">
        <a href="#"><button mat-raised-button  class="info-btn color-btn">Детальніше</button></a>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
