<md-card-content style="width:100%">
  <md-toolbar color="primary">Діяч</md-toolbar>
        <md-card style="width:30%">
          <img md-card-md-image src="assets/img/avatar.jpg">
        </md-card>
        <md-card style="width:60%">
          <md-card-title>Семен Гігабіт, Дніпро
          </md-card-title>
          <md-card-subtitle>
            <p>Навички та вміння: Аналітик, соціальний підприємець та консультант</p>
            <p>Депутат Дніпровської міської ради. Член партії: Рефлексійка.</p>
            <button md-button>Місія</button>
            <md-button>Візія</md-button>
            <md-button>Фінансовий Звіт</md-button>
            <md-button>Декларація</md-button>
          </md-card-subtitle>
        </md-card>
