:host {
  display: block;
  margin: 60px;
}

h2:first-of-type {
  margin-top: 0;
}

.small {
  font-size: .5em;
}

.visual-wrapper {
  width: 100%;
  margin-bottom: 2em;

  min-height: 320px;
}

.leader-video {
  width: 100%;
}

.projects-title {
  margin-top: 20px;
  margin-bottom: 0;
}

.content-video-wrapper {
  height: calc(100%);
  min-height: 320px;

  .content-video {
    height: calc(100% - 3em);
    min-height: 320px;
  }
}

.mission p,
.vision p {
  font-size: 1em;
}

.icon-me {
  background: tan;
  padding: 0 3px;
  display: inline-block;
  font-size: 11px;
  position: relative;
  top: -12px;
  line-height: 1.2;
  margin-left: 4px;
}

.media-video {
  height: 300px;
}
