@import '../../../assets/scss/styles.scss';

:host {
  display: block;
  margin: 60px;
}

h1 {
  line-height: 1.6;
}

h2:first-of-type {
  margin-top: 0;
}

.small {
  font-size: .5em;
}

.leader-video {
  width: 100%;
}

.projects-title {
  margin-top: 20px;
  margin-bottom: 0;
}

.content-video-wrapper {
  height: calc(100%);
  min-height: 320px;

  .content-video {
    height: calc(100% - 3em);
    min-height: 320px;
  }
}

.mission p,
.vision p {
  font-size: 1em;
}

.icon-me {
  background: $bp-red;
  padding: 0 2px;
  display: inline-block;
  font-size: 11px;
  position: relative;
  top: -12px;
  line-height: 1.1;
  margin-left: 6px;
  font-weight: bold;
  color: white;
}

.media-video {
  height: 300px;
}
