<!-- Usage:
  <app-donations-list title="Given title" [target]="target" [targetType]="targetType" [pageSize]="10" dbQuery="{}"></app-donations-list>
-->
<md-card>

  <md-card-title>

    <md-toolbar class="add-toolbar" color="accent">
      <span *ngIf="title !== ''">{{title}}</span>
      <!-- TODO Усього зроблено внесків: {{donations.length | async}} -->
      <span class="add-fill-remaining"></span>
      {{target.totalDonationsReceived}} UAH
    </md-toolbar>

  </md-card-title>

  <md-card-content>

    <md-list>
      <ol>
        <!-- <md-list-item *ngFor="let donation of donations | async"> -->
        <md-list-item *ngFor="let donation of itemsPage.docs | async | paginate: {
                                                                       id: 'donationItemsPage',
                                                                       itemsPerPage: this.pageSize,
                                                                       currentPage: itemsPage.page,
                                                                       totalItems: itemsPage.total
                                                                     }">
          <li>
            <small>{{donation.description?.substring(0, 15)}} {{donation.dateStarted | date}}, {{donation.status}}
              <span *ngIf="donation.status == 'sandbox'">(){{donation.dateCompleted | date}})</span>
            </small>
            <!-- FIXME Show completeness status {{donation.dateCompleted | date}} -->
            <!-- TODO Add individual donation view <h3 md-line><a [routerLink]="['/donation/' + donation._id]"><b>{{donation.title}}</b></a></h3> -->
            <!-- TODO let admin to delete donation, user to cancel -->
            <!-- <div *ngIf="user.hasEditPermissions(donation)" class="admin" style="min-width:4em;">
             <a [routerLink]="['/donation/' + donation._id + '/edit']"><md-icon>edit</md-icon></a>
             <a href (click)="deleteTask(donation)"><md-icon>delete</md-icon></a>
            </div> -->
          </li>
        </md-list-item>
      </ol>
    </md-list>

    <pagination-controls id="donationItemsPage" (pageChange)="pageChanged($event)" [maxSize]="5" directionLinks="true" autoHide="true">
    </pagination-controls>

    <h3>Усього: {{itemsPage.total}}</h3>

  </md-card-content>

</md-card>
