/*
was in initiall seed by mg

 :host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
} */

@import 'default-theme';
@import 'variables';

.demo-basic {
  padding: 0;
}
.demo-basic md-card-content {
  padding: 16px;
}
.demo-full-width {
  width: 100%;
}

.demo-icons {
  font-size: 100%;
  height: inherit;
  vertical-align: top;
  width: inherit;
}

.demo-transform {
  transition: color $swift-ease-out-duration $swift-ease-out-timing-function;
}
.demo-primary {
  color: md-color($md-primary);
}

.demo-card {
  margin: 16px;
}

.grid{
  border-style: solid;
}

.one{
  width:30%;
}
