:host {

    .wrapper-button {
        border-radius: 0;
        width: 100%;
        padding-bottom: 300px;
    }

    .pre-poetry {
        text-align: left;
        padding: 50px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 50px;
        letter-spacing: -1px;
        color: #024;
        font-weight: 200;
        line-height: 1.5;
        &:hover {
            color: #fff;
            background-color: #024;
        }

        &::first-letter {
            text-transform: capitalize;  
        }

    }

    // OOPO
    .word {
        cursor: pointer;
    }

    .word:hover {
        background-color: #ffa;
    }
}
