<form ngNoForm>

  <!-- <input id="fileInput" name="fileInput" type="file" > <button (click)="initUpload()" type="button">Upload</button> -->

  <div>
    <input type="file" id="fileInput" name="fileInput" #fileInput (change)="handleUploadFilenameChange($event)" style="display: none">

    <!-- For Fab-type button -->
    <div *ngIf="useFabButton">

      <!-- Before file selected -->
      <button mat-mini-fab class="size-fab-upload" *ngIf="fileToUpload === null && !uploadJustHaveFinished" (click)="handleSelectFileClick($event, true)">
        <mat-icon color="white">file_upload</mat-icon>
      </button>

      <!-- After file selected — immediate 'Upload' starts -->

      <!-- 'Uploading...' -->
      <mat-spinner mode="indeterminate" *ngIf="uploadInProgress" color="accent" class="size-fab-upload" ></mat-spinner>

      <!-- 'Uploaded!' -->
      <button mat-mini-fab class="size-fab-upload" *ngIf="uploadJustHaveFinished" disabled>
        <mat-icon color="accent">check_circle</mat-icon>
      </button>
    </div>

    <!-- For Regular button -->
    <div *ngIf="!useFabButton">

      <!-- Before file selected -->
      <button *ngIf="fileToUpload === null && !uploadJustHaveFinished" (click)="handleSelectFileClick()" mat-button><mat-icon class="pointer">add</mat-icon> {{buttonLabel}}</button>

      <!-- After file selected -->
      <div *ngIf="fileToUpload != null && !uploadInProgress">
        <div>Вибраний файл: {{fileToUploadName}}</div>
        <button (click)="handleUploadFileClick()" color="accent" mat-raised-button>Завантажити</button>
      </div>

      <!-- 'Uploading...' -->
      <div *ngIf="fileToUpload != null && !uploadInProgress">
        <div>Вибраний файл: {{fileToUploadName}}</div>
        <button *ngIf="fileToUpload != null && uploadInProgress" mat-button disabled>Завантажую...</button>
      </div>

      <mat-progress-bar mode="indeterminate" *ngIf="uploadInProgress" color="accent"></mat-progress-bar>

      <!-- 'Uploaded!' -->
      <button *ngIf="uploadJustHaveFinished" mat-button disabled><mat-icon color="accent">check_circle</mat-icon> Файл завантажено</button>

    </div>

  </div>

</form>

<div *ngIf="listFilesOnStart">

  <div *ngFor="let img of imageList | async" style="position:relative;width:100px;height:100px;float:left;display:flex;justify-content:center;align-items:center;">
    <img [src]="img.downloadURL | async" style="max-width:100px; max-height:100px;">
    <button (click)="delete(img)" style="position:absolute; top:2px; right:2px;">[x]</button>
  </div>

</div>
