md-card {
  display:inline-block;
}

.project-view {
  width: 100%;
}

:host {
  display: block;
  /*padding: 2em 2em;*/
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  padding-top: 0;
}

h3 {
  font-size: 1.4em;
  padding-top: 0;
}

.share-card {
  width: 70%;
}

.share-card .form {
  margin: 0;
}

.share-card .email-preview {
  display: block;
}

.share-card h2 {
  margin: 0.5em 0 0.25em 0;
  /*display: none;*/
}

.wide {
  width: 100%;
}

.bp-textarea {
  font-family:Roboto, "Helvetica Neue", sans-serif;
  font-size:14px;
  letter-spacing:normal;
  line-height:normal;
  outline-color:rgb(0, 0, 0);
  outline-style:none;
  outline-width:0px;
  height: auto;
  margin-bottom: 0.5em;
}
