<div class="project-view">

  <md-card-content>

    <app-bp-sharer #sharer [project]="project"></app-bp-sharer>

    <h1>{{project.title}}</h1>
    <app-bp-donate [label]="'Підтримати проект:'" [amount]="70" [target]="project" [targetType]="'project'"></app-bp-donate>

    <md-grid-list cols="2" rowHeight="255" id="stats">
      <md-grid-tile>

        <!-- state="iFramed.Project" -->
        <app-bp-video [videoUrl]="project.videoUrl" [title]="project.title" placeholderUrl="assets/img/project/project-placeholder.png"></app-bp-video>

      </md-grid-tile>
      <md-grid-tile>
        <div>
          <!-- FIXME Рахувати вартість та донацїї проекту за його заходами -->
          <h2>Зібрано {{project.totalDonationsReceived || 0}} з {{project.cost}} UAH</h2>
          <h3>Менеджер: <a [routerLink] = "['/leader/' + project.managerId ]">{{project.managerName}}</a></h3>
          <p>Початок: {{project.dateStarted | date}}<br/>
          Кінець: {{project.dateEnded | date}}</p>
        </div>
      </md-grid-tile>
    </md-grid-list>

    <h2>Детальніше</h2>
    <p>{{project.description}}</p>

    <!-- Project Tasks -->
    <app-task-list title="Заходи:" [project]="project" [pageSize]="3" ></app-task-list>
    <!-- /Project Tasks -->

    <p *ngIf="userService.hasEditPermissions(project)" class="admin project-toolbar">
      <a [routerLink] = "['/project/' + project._id + '/edit']"><button md-raised-button color="primary">Редагувати</button></a>
      <!-- TODO Enable it -->
      <a href (click) = "deleteProject(project)"><button md-raised-button color="warn">Видалити проект</button></a>
    </p>

  </md-card-content>

</div>
