<div class="project-view">

  <md-card-content>

    <!-- <bp-sharer #sharer [project]="project"></bp-sharer> -->

    <h1>{{project.title}}</h1>

    <md-grid-list cols="2" rowHeight="255" id="stats">
      <md-grid-tile>

        <!-- state="iFramed.Project" -->
        <bp-video [videoUrl]="project.videoUrl" [title]="project.title" placeholderUrl="assets/img/project/project-placeholder.png"></bp-video>

      </md-grid-tile>
      <md-grid-tile>
        <div>
          <h2>Вартість: {{project.cost}}₴</h2>
          <h3>Менеджер: {{project.managerName}}</h3>
          <p>Початок: {{project.dateStarted | date}}<br/>
          Кінець: {{project.dateEnded | date}}</p>
        </div>
      </md-grid-tile>
    </md-grid-list>

    <h2>Детальніше</h2>
    <p>{{project.description}}</p>

    <!-- Project Tasks -->
    <task-list [project]="project"></task-list>
    <!-- /Project Tasks -->

    <p *ngIf="user.hasEditPermissions()" class="admin project-toolbar">
      <a [routerLink] = "['/project/' + project._id + '/edit']"><button md-raised-button color="primary">Редагувати</button></a>
      <!-- TODO Enable it -->
      <a href (click) = "deleteProject(project)"><button md-raised-button color="warn">Видалити проект</button></a>
    </p>

  </md-card-content>

</div>
