// FIXME Move it to the main css
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  padding-top: 0;
}

h3 {
  font-size: 1.4em;
  padding-top: 0;
}

.project-toolbar {
  margin-top: 2em;
}

.project-image,
.project-video {
  display: block;
}
