<!-- STATE: iFramed.Project -->
<div *ngIf="youTubeId" class="bp-video-iframed">
  <iframe width="400" height="222" [src]="safeVideoUrl" frameborder="0" allowfullscreen></iframe>
</div>

<!-- If there's no video, placeholder image will be shown -->
<!-- TODO: convert it to "add video (media?)" function -->
<!-- <img *ngIf="!youTubeId" md-list-avatar src="{{videoThumbUrl}}" alt="{{title}}" width="300"> -->

<!-- STATE: iFramed.Leader -->
<!-- <img md-card-md-image src="assets/img/avatar.jpg" alt="{{title}}" > -->

<!-- STATE: iFramed.Task -->
<!-- <img md-list-avatar src="assets/img/task/task-placeholder.png" alt="{{title}}" width="300"> </md-grid-tile> -->

<!-- TODO: SECURITY Need to double-check security here as soon as we neutralized DomSanitizer -->
