:host {
  display: block;
  padding: 0 16px;
}

.bp-landing {

}

md-card {
  margin: 16px 0;
}

p {
  margin: 16px;
  line-height: 1.4;
}

.stats-list md-grid-tile {
  background: rgba(0, 0, 0, 0.01);
}

img {
  width: 350px;
}

.numbers h2 {
  font-size: 2em;
}

.numbers span {
  display: block;
  font-size: 2em;
  margin-top: -1.5em;
}

.logo {
  width: 7em;
}
