<!-- Project Card View (for display standalone) -->
<md-card class="project-brief-card" [routerLink]="['/project/', project._id]" *ngIf="viewContext==='homePage'">
  <div md-card-avatar class="project-brief-card-header-image"></div>
  <md-card-title>Проект {{project.title}}</md-card-title>
  <div class="md-card-image-clipper">
    <img md-card-image src="{{project.imageUrl || 'assets/img/project/project-placeholder.png'}}">
  </div>
  <md-card-content>
    <md-card-subtitle>Про проект: {{project.description}}</md-card-subtitle>
    <p>Строки: {{project.dateStarted | date}} - {{project.dateEnded | date}}</p>
  </md-card-content>
  <md-card-actions>
    <a [routerLink]="['/project/', project._id]"><button md-button>Підтримати</button></a>
    <!-- <a [routerLink]="['/projects']"><button md-button>Усі проекти</button></a> -->
  </md-card-actions>
</md-card>

<!-- Project Item View (for display in lists) -->
<md-card class="project-list-item" [routerLink]="['/project/', project._id]" *ngIf="viewContext==='projectListPage'">
  <h3 class="title" md-line><a [routerLink]="['/project/' + project._id]"><b>{{project.title}}</b> - {{project.managerName}}. Заходів: {{project.tasks?.length}}</a></h3>
  <p class="date" md-line>{{project.dateStarted | date}} - {{project.dateEnded | date}}. {{project.cost}} UAH</p>
  <p class="description" md-line>
    <small>{{project.description}}</small>
  </p>
  <!-- <md-card-actions> -->
  <div fxLayout="row" fxLayoutAlign="end" *ngIf="userService.hasEditPermissions(project)" class="admin" style="min-width:4em;">
    <button md-icon-button [routerLink]="['/project/' + project._id + '/edit']"><md-icon>edit</md-icon></button>
    <button md-icon-button (click)="deleteProject(project)"><md-icon>delete</md-icon></button>
    <button md-icon-button disabled (click)="shareProject(project)"><md-icon>share</md-icon></button>
  </div>
  <!-- </md-card-actions> -->
</md-card>

<!-- Brief on Home page -->
<!-- Project Item Brief View (for display in compact lists) -->
<md-card class="project-list-item list-brief" [routerLink]="['/project/', project._id]" *ngIf="viewContext==='compactProjectList'">
    <img md-card-image src="{{project.imageUrl || 'assets/img/project/project-placeholder.png'}}">

  <h3 class="title" md-line><a [routerLink]="['/project/' + project._id]">{{project.title}}</a></h3>
  <p class="description" md-line>
    <small>{{project.description}}</small>
  </p>
  <div class="date" md-line><small>{{project.dateStarted | date}}-{{project.dateEnded | date}}</small></div>
  <!-- <md-card-actions> -->
  <div fxLayout="row" fxLayoutAlign="end" *ngIf="userService.hasEditPermissions(project)" class="admin">
    <button md-icon-button [routerLink]="['/project/' + project._id + '/edit']"><md-icon>edit</md-icon></button>
    <button md-icon-button (click)="deleteProject(project)"><md-icon>delete</md-icon></button>
    <button md-icon-button disabled (click)="shareProject(project)"><md-icon>share</md-icon></button>
  </div>
  <!-- </md-card-actions> -->
</md-card>
