.project-brief-card {
  width: 400px;
}

.project-brief-card-header-image {
  /* Parametrize via leader photo */
  background-image: url('../../../assets/img/project/project-placeholder.png');
  background-size: cover;
}
