$col-white-tran: rgba(255, 255, 255, 0);
$col-white: rgba(255, 255, 255, 1);

.gradient-fade {
  background: linear-gradient(to bottom, $col-white 0%, $col-white 99%, $col-white 100%);
}

.project-brief-card {
  // width: 100%;
}

.project-brief-card-header-image {
  // Parametrize via leader photo
  background-image: url('../../../assets/img/project/project-placeholder.png');
  background-size: cover;
}

.md-card-image-clipper {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  height: 300px;
  margin: 0 -24px 16px;
  max-height: 300px;
  overflow: hidden;
  width: calc(100% + 48px);

  :first-child {
    margin-top: -24px;
  }
}

.project-list-item {
  background-color: #fafafa;
  cursor: pointer;
  margin-bottom: 1em;
  margin-right: 1em;
  max-height: 15em;
  overflow: hidden;

  .title,
  .date,
  .description {
    height: 2.5em;
    overflow: hidden;
  }

  .date {
    font-size: .7em;
    height: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .description {
    height: 6em;
  }
}

.project-list-item:hover {
  background-color: transparent;
  max-height: 18em;

  .title,
  .date,
  .description {
    height: auto;
    overflow: auto;
  }

  .description {
    max-height: 5em;
  }
}

a {
  text-decoration: none;
}

.list-brief {
  font-size: .8em;
}
