<!-- <mat-card *ngIf="!!leader && viewContext==='homePage'" class="leader-brief-card" [routerLink]="getLeaderLink(leader)">
  <mat-card-title title="{{leader.email}}">{{leader.name}} {{leader.surName}}
    <span *ngIf="userService.isOwner(leader)" class="icon-me">я</span>
  </mat-card-title>
  <mat-card-subtitle>
    {{leader.location}}
  </mat-card-subtitle>
  <div class="mat-card-image-clipper">
    <img mat-card-image src="{{leader.photo || 'assets/img/avatar-generic.png'}}">
  </div>
  <mat-card-content>
    <p>Бачення: {{leader.vision}}</p>
    <mat-card-subtitle>Місія: {{leader.mission}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions align="end">
    <a [routerLink]="getLeaderLink(leader)"><button mat-button mat-raised-button color="primary" >Підтримати</button></a>
    <a [routerLink]="['/leaders']"><button mat-button>Усі лідери</button></a> -->
  <!-- </mat-card-actions>
</mat-card> --> 


<div class="main-section">
  <mat-card class="leader-brief-block" [routerLink]="getLeaderLink(leader)" *ngIf="!!leader && viewContext==='homePage'">
    <div class="leader-cover-wraper">
      <img mat-card-image class="leader-cover"  src="{{leader.imageUrl || '../../../assets/img/Group 813.png'}}" alt="leader image">
      <div class="leader-name">
        <mat-card-title title="{{leader.email}}">{{leader.name}} {{leader.surName}}
          <span *ngIf="userService.isOwner(leader)" class="icon-me">я</span>
        </mat-card-title>
      </div>
    </div>
    <mat-card-content>
      <mat-card-title class="leader-title">Бачення: {{leader.vision}}</mat-card-title>
      <p class="leader-description">Місія: {{leader.mission | slice : 0 : 150}}</p>
    </mat-card-content>
    <div class="btn-action">
      <mat-card-actions fxLayoutAlign="center">
        <a [routerLink]="getLeaderLink(leader)"><button mat-raised-button  class="info-btn color-btn">Підтримати</button></a>
      </mat-card-actions>
    </div>
  </mat-card>
</div>


<!-- State: Leader List Page -->
<!-- *ngIf="viewContext==='leaderListPage'" -->

<mat-card fxLayout="column" fxLayoutAlign="space-between center" class="leader-list-item" *ngIf="viewContext==='leaderListPage'">
  <div class="leader-img">
    <img src="{{leader.imageUrl || '../../../assets/img/leader/deadpool.jpg'}}" alt="Leader image">
  </div>
  <mat-card-title class="leader-name-list-view">{{leader.name}} {{leader.surName}}</mat-card-title>
  <p class="leader-vision">{{leader.vision | slice : 0 : 150}}</p>
  <mat-card-actions class="card-actions">
    <button mat-raised-button [routerLink]="['/leader/' + leader._id]" class="info-btn color-btn" >Детальніше</button>
  </mat-card-actions>
</mat-card>


<!-- <mat-card class="leader-list-card" ngClass.xs="leader-list-card-single-column"
          [routerLink]="getLeaderLink(leader)"
          *ngIf="viewContext==='leaderListPage'" >
  <div fxLayout="row" fxLayoutAlign="start center">
    <a [routerLink]="getLeaderLink(leader)" class="name" title="{{leader.name}} {{leader.surName}}. Email: {{leader.email}}">
      {{leader.name}} {{leader.surName}}
      <span *ngIf="userService.isOwner(leader)" class="icon-me">я</span>
    </a>
    <a>
      {{leader.location}}
    </a>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.xs="column" >
    <div class="mat-card-image-clipper" ngClass.xs="media-xs" *ngIf="hasVisual" fxFlex="35" fxFlexAlign.xs="center" >
      <div *ngIf="leader.photo; then images else videos"></div>
      <p class="projects">Проектів: {{leader.projectIds?.length}}</p>
    </div>
    <div fxFlex="69" fxFlexOffset="7" fxFlexOffset.xs="0">
      <p class="vision"><b>Візія:</b> {{leader.vision}}</p>
      <p class="mission"><b>Місія:</b> {{leader.mission}}</p>
    </div>
  </div>
  <div class="buttons-space">
    <a *ngIf="userService.hasEditPermissions(leader)" [routerLink]="[getLeaderLink(leader) + '/edit']"><mat-icon>edit</mat-icon></a>
    <a class="lead-button" [routerLink]="getLeaderLink(leader)">Підтримати</a>
  </div>
</mat-card> -->

<!-- Item Brief View (for display in compact lists) on Home page -->
<mat-card class="leader-list-card list-brief" ngClass.xs="leader-list-card-single-column" [routerLink]="getLeaderLink(leader)" *ngIf="viewContext==='compactLeaderList'" >
  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.xs="column" >
    <div fxFlex="30" fxFlexAlign.xs="center">
      <app-image class="leader-photo" [src]="leader.photo || 'assets/img/avatar-generic.png'"></app-image>
    </div>
    <div fxFlex="70" fxFlexOffset="5">
      <mat-card-title>
        <span title="{{leader.name}} {{leader.surName}}. Email: {{leader.email}}" class="name">
          {{leader.name}} {{leader.surName}}
          <span *ngIf="userService.isOwner(leader)" class="icon-me">я</span>
        </span>
      </mat-card-title>
      <p class="vision"><b>Візія:</b> {{leader.vision}}</p>
      <p class="mission"><b>Місія:</b> {{leader.mission}}</p>
    </div>
  </div>
  <mat-card-actions align="end">
    <div class="buttons-space">
      <button class="lead-button" [routerLink] = "getLeaderLink(leader)" mat-button color="primary" >Підтримати</button>
    </div>
  </mat-card-actions>
</mat-card>

<!-- Templates: video and images to be used in brief display -->

<ng-template #videos>
  <app-bp-video
    class="leader-video"
    [videoUrl]="leader.videoUrl"
    [title]="leader.name">
  </app-bp-video>
</ng-template>

<ng-template #images>
  <app-image *ngIf="leader.photo" class="leader-photo" [src]="leader.photo || 'assets/img/avatar-generic.png'"></app-image>
</ng-template>
