.leader-brief-card {
  // width: 100%;
}

.leader-brief-card-header-image {
  // Parametrize via leader photo
  background-image: url('../../../assets/img/avatar.jpg');
  background-size: cover;
}

.md-card-image-clipper {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 300px;
  margin: 0 -24px 16px;
  max-height: 300px;
  overflow: hidden;
  width: calc(100% + 48px);

  :first-child {
    margin-top: -24px;
  }
}

.leader-list-card {
  cursor: pointer;
  margin-bottom: 1em;
}

.leader-list-card:hover {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.leader-iconbar {
  float: right;
}

.lead-button {
  float: right;
}

.leader-photo {
  display: inline-block;
  border: 3px dashed #777;
}

.list-brief {
  font-size: .8rem;
}
