.leader-brief-card {
  width: 400px;
}

.leader-brief-card-header-image {
  // Parametrize via leader photo
  background-image: url('../../../assets/img/avatar.jpg');
  background-size: cover;
}

.leader-list-card {
  margin-bottom: 1em;
}
