.leader-brief-card {
  width: 400px;
}

.leader-brief-card-header-image {
  /* Parametrize via leader photo */
  background-image: url('../../../assets/img/leader/avatania.jpg');
  background-size: cover;
}
