<md-card class="leader-brief-card" [routerLink]="['/leader/', leader._id]">
  <!-- <md-card-header> -->
    <div md-card-avatar class="leader-brief-card-header-image"></div>
    <md-card-title>{{leader.name}} {{leader.surName}}</md-card-title>
  <!-- </md-card-header> -->
  <img md-card-image src="{{leader.photo || 'assets/img/avatar.jpg'}}">
  <md-card-content>
    <md-card-subtitle>Місія: {{leader.mission}}</md-card-subtitle>
    <p>
      Бачення: {{leader.vision}}
    </p>
  </md-card-content>
  <md-card-actions>
    <a [routerLink]="['/leader/', leader._id]"><button md-button>ПІДТРИМАТИ</button></a>
    <a [routerLink]="['/leaders']"><button md-button>УСІ ДІЯЧІ</button></a>
  </md-card-actions>
</md-card>
