$col-555: #555;
$col-eee: #eee;
$col-fafafa: #fafafa;

a {
  text-decoration: none;
}

.leader-brief-card {
  // width: 100%;
  .mat-card-image-clipper {
    border-bottom: 1px solid $col-eee;
    border-top: 1px solid $col-eee;
    height: 300px;
    margin: 0 -24px 16px;
    max-height: 300px;
    overflow: hidden;
    width: calc(100% + 48px);

    :first-child {
      margin-top: -24px;
    }
  }
}

// List View

.leader-list-card {
  cursor: pointer;
  height: 14em;
  margin: 1em 1em 1.2em;
  padding: 16px 24px;
  overflow: hidden;

  .mat-card-title {
    margin-bottom: .5em;
    margin-top: -.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mat-card-image-clipper {
    .leader-video {
      display: inline-block;
      height: 5em;
      margin: auto auto 1.2em;
      // max-width: 14em;
    }
  }

  .media-xs {
    .leader-video {
      height: auto;
    }
  }

  .name {
    font-size: .8em;
  }

  .projects {
    color: $col-555;
    display: block;
    font-size: .85em;
    margin-top: -.5em;
  }

  .mission,
  .vision {
    margin-bottom: 0;
    margin-top: 0;
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// List View - on hover

.leader-list-card:hover {
  //box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  background-color: $col-fafafa;
  margin: .95em 1em 1.25em;
}

// Single-col view

.leader-list-card-single-column {
  height: auto;
  max-height: 50em;

  .vision,
  .mission {
    display: block;
    max-height: 10em;
  }
}

// Single-col view: hover

.leader-list-card-single-column:hover {
  height: auto;
  margin-top: 1em;
  max-height: 50em;

  .vision,
  .mission {
    display: block;
    max-height: 10em;
  }
}

.leader-photo {
  display: inline-block;
  margin: auto auto 1.2em;
  max-width: 14em;
}

.icon-me {
  background: tan;
  padding: 0 4px;
  display: inline-block;
  font-size: 11px;
  position: relative;
  top: -2px;
  line-height: 1.2;
}
