@import '../../../assets/scss/styles.scss';

:host {
  input,
  textarea,
  mat-form-field {
    width: 100%;
  }

  .header {
    font-size: 24px;
  }

  .title {
    ::ng-deep .mat-form-field-wrapper {
      margin-bottom: 2px;
    }
    ::ng-deep .mat-form-field-infix {
      border: none;
      padding: 0;
      min-width: 280px;
    }
  }

  .cost-and-dates {
    * {
      line-height: 1.5;
    }

    mat-icon {
      font-size: 1.3em;
      vertical-align: bottom;
    }
  }

  .cost {
    input {
      text-align: right;
    }
  }

  .icon-me {
    background: $bp-red;
    padding: 0 2px;
    display: inline-block;
    font-size: 11px;
    position: relative;
    top: -12px;
    line-height: 1.1;
    margin-left: 6px;
    font-weight: bold;
    color: white;
  }
}
