/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.add-toolbar {
  padding: 0 0.5em 0 1em;
}

.add-toolbar .add-toolbar-icon {
  padding: 0 14px;
}

.add-fill-remaining {
  flex: 1 1 auto;
}

a:link,
a:visited,
a:active {
  color: #000;
}
a:hover {
  color: #333;
}

md-list-item h3 a:link,
md-list-item h3 a:visited,
md-list-item h3 a:active {
  text-decoration: none;
}

md-list-item h3 a:hover {
  text-decoration: underline;
}
