<h1>WIP WIP WIP</h1>

<!-- TODO FTUX - Section for leaders without a project -->
<!-- TODO FTUX - Section for projects without tasks -->

<!-- TODO FTUX - AUTH - This section is visible to anonymous only -->
<!-- <div *ngIf="!userService.authenticated()"> -->

<!-- FTUX - LEADER - Section is visible to non-leaders only -->
<p *ngIf="!userService.hasLeader()">
  Lazy registration test: <a [routerLink]="['/add-leader']">Зголошуйся в активні діячі</a>
</p>
<!-- /FTUX - LEADER END -->

<!-- </div> --> <!-- TODO FTUX - AUTH END -->


<!-- LOGO // TBU -->
<!-- NAV // TBU -->

<!--
    MOBILE
      TBD: Два горизонтальні квадрати,
      TBD: Меню — 4 полосочки-квадратика під лого, Потій йдут 2 блоки — проекти та лідери
        -->

<!--
    ALL PROJECTS
      TBD: Слайдшоу — 10 випадкових елементів, АБО: три найпростіших + три найсильншіх + 4 рандомом
      TBD: on Hover, Button Rendedered in MD Style
        -->

<!--
    ALL LEADERS
      TBD: Слайдшоу — 10 випадкових елементів, АБО: три найпростіших + три найсильншіх + 4 рандомом
      TBD: on Hover, Button Rendedered in MD Style
        -->

<!-- here, mongoDb query can be used like this:
http://stackoverflow.com/questions/7811163/query-for-documents-where-array-size-is-greater-than-1
{ "$where": "this.projects.length > 2" }
{ "totalDonationsReceived": 0 }
{ "projects": { $size: 2 } }

etc

 -->

<h3>Випадковий діяч:</h3>

<app-leader-brief leaderId="random"></app-leader-brief>

<!-- <app-leader-list [pageSize]="1" dbQuery='{}'></app-leader-list> -->

<h3>Випадковий проект:</h3>
<app-project-brief projectId="random"></app-project-brief>

<h2>Як це працює?</h2>

<br />

<div>// TBD: Use stories from #89 Step 1 > Step 2 > Step 3 >

<br />
<br />

<img src="https://cloud.githubusercontent.com/assets/451410/24063696/a6130996-0b58-11e7-919f-e355446ce143.png" style="width:100%" />

<br />
<br />
<br />

</div>

<!--
  Показуємо 6 активних проектів на 1 табі
  і також рандомно — 6 лідерів на другій табі
                                            -->

<md-tab-group>
  <md-tab label="Проекти">
    <app-project-list [pageSize]="5"></app-project-list>
    <button md-button md-raised-button color="primary">Всі проекти</button>
  </md-tab>
  <md-tab label="Політики">
    <app-leader-list [pageSize]="5"></app-leader-list>
    <button md-raised-button color="primary">Всі лідери</button>
  </md-tab>
</md-tab-group>

<p>
  BigPolicy — платформа прямої демократії. Твої політики для тебе і від тебе.
</p>

<h2>Останні проекти</h2>
<!-- Останні проекти та політики — це зменшені мініатюри без -->

<div>//TBD</div>

<h2>Нові політики</h2>
<!-- Не дуже гарно виходить — нові у самому низу, треба подумати -->

<div>
  //TBC:
  Не дуже гарно виходить — нові у самому низу, треба подумати
</div>

<h2>Контакти</h2>

<div>//TBD</div>
