@import '../../assets/scss/styles.scss';
$llgrey: #eee;
$lgrey: #ccc;
$grey: #999;
$gry: #555;


app-home:host {
  background-color: transparent;
  box-sizing: border-box;
  display: block;
  padding: 2rem;
}

.how-it-works {
  margin-top: 7rem;

.how-it-works-headline{
  text-transform: uppercase;
}

  img {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}
}

.header-line{
  height:3px;
  width:100px;
  display: block;
  background-color: #C13833;
  margin-bottom:60px;
}

.projects-leaders-list {
  margin-top: 6rem;

  /deep/ .mat-tab-label {
    font-size: 1.4em;
  }

  app-project-list {
    // background: #ffc;
    padding: 1rem;
  }

  app-leader-list {
    // background: #ffc;
    padding: 1rem;
  }

  .controls {
    text-align: center;
  }

  .bt-show-all {
    margin-bottom: 1em;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
    background: #C13833;
    border-radius: 5px;
  }
}

.bottom-title {
  font-size: 30px;
  margin: 100px;
  text-align: left;
  line-height: 35px;
}

.contacts {
  margin-top: 3em;
}
