<!-- EU Cookie Law support -->
<cookie-law position="top" name="topCookieLaw">
  Продовжуючи переглядати сайт, ви погоджуєтеся з використанням cookies. <a [routerLink]="['/privacy']">Детальніше</a>.
</cookie-law>

<!-- All Projects
    Слайдшоу — 10 випадкових елементів, АБО: три найпростіших + три найсильншіх + 4 рандомом
    on Hover, Button Rendedered in MD Style -->

<!-- All Leaders
     Слайдшоу — 10 випадкових елементів, АБО: три найпростіших + три найсильншіх + 4 рандомом
     on Hover, Button Rendedered in MD Style -->

<!-- here, mongoDb query can be used like this:
     http://stackoverflow.com/questions/7811163/query-for-documents-where-array-size-is-greater-than-1
     { "$where": "this.projects.length > 2" }
     { "totalDonationsReceived": 0 }
     { "projects": { $size: 2 } } -->
<!-- <app-leader-list [pageSize]="1" dbQuery="{}"></app-leader-list> -->

<div fxLayout="row" fxLayoutAlign="space-around start" fxLayout.xs="column" >
  <app-project-brief fxFlex="42" projectId="random" [viewContext]="'homePage'"></app-project-brief>
  <app-leader-brief fxFlex="42" leaderId="random" [viewContext]="'homePage'"></app-leader-brief>
</div>

<div class="how-it-works">
<h2 align="center">Як це працює?</h2>
<div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
	<div fxFlex="21" fxFlex.sm="42" fxFlex.xs="84">
		<div class="material-icons md-48">face</div>
    <!-- FTUX - LEADER - Section is visible to non-leaders only -->
		<div *ngIf="!userService.hasLeader()">Ви вирішуєте <a [routerLink]="['/add-leader']">стати діячем</a></div>
		<div *ngIf="userService.hasLeader()">Ви вирішуєте стати діячем</div>
    <!-- /FTUX - LEADER END -->
		<div>Використовуєте інструмент платформи для фандрейзингу коштів на ініціативи.</div>
	</div>
	<div fxFlex="21" fxFlex.sm="42" fxFlex.xs="84">
		<div class="material-icons md-48">loop</div>
		<div>Прихильники ідеї підтримують її реалізацію коштами</div>
		<div>Невелика сума краща за лайки в фейсбуці.</div>
	</div>
	<div fxFlex="21" fxFlex.sm="42" fxFlex.xs="84">
		<div class="material-icons md-48">mic</div>
		<div>Ви завершуєте проект і розповідаєте про нього світові</div>
		<div>BIGPOLICY допомагає вам.</div>
	</div>
	<div fxFlex="21" fxFlex.sm="42" fxFlex.xs="84">
		<div class="material-icons md-48">movie</div>
		<div>Місія виконана з відповідними результатами</div>
		<div>Нова ініціатива реалізована до життя!</div>
	</div>
</div>

<!--
  Показуємо 6 активних проектів на 1 табі
  і також рандомно — 6 лідерів на другій табі
                                            -->
<md-tab-group class="projects-leaders-list">
  <md-tab label="Проекти" class="tab">
    <app-project-list [pageSize]="5"></app-project-list>
    <button md-button md-raised-button color="primary">Всі проекти</button>
  </md-tab>
  <md-tab label="Діячі" class="tab">
    <app-leader-list [pageSize]="2"></app-leader-list>
    <button md-raised-button color="primary">Всі діячі</button>
  </md-tab>
</md-tab-group>

<p class="bottom-title">
    BigPolicy — платформа прямої демократії
    <br/>
    Твої політики для тебе і від тебе
</p>

<!-- TODO <h2>Останні проекти</h2> -->
<!-- Останні проекти та політики — це зменшені мініатюри без -->

<!-- TODO <h2>Нові лідери</h2> -->
<!-- Не дуже гарно виходить — нові у самому низу, треба подумати -->

<div fxLayout="row" fxLayoutAlign="space-between top" fxLayoutGap="5%" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="50%">
    <h3>Контакти</h3>
    <address>
      м.&nbsp;Львів, вул.&nbsp;Наукова&nbsp;58, кв.&nbsp;28
      <br>
      +380 (93) 619-17-95
      <br>
      <a href="mailto:voice@bigpolicy.eu">voice@bigpolicy.eu</a>
    </address>
  </div>
  <div fxFlex="50%">
    <h3>Facebook</h3>
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FBIGPOLICY%2F&width=450&layout=standard&action=like&show_faces=true&share=true&height=80&appId" width="300" height="200" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
</div>
