@import '../../assets/scss/styles.scss';
$llgrey: #eee;
$lgrey: #ccc;
$grey: #999;
$gry: #555;


app-home:host {
  background-color: transparent;
  box-sizing: border-box;
  display: block;
  padding: 2rem;
}

.how-it-works-wraper {
  margin-top: 6rem;

.how-it-works-headline{
  font-family: 'Montserrat Alternates';
  font-size: 2.8rem;
  color: $gray;
  font-weight: 600;
  margin: 5rem 0 8rem 0;
}

.how-it-works-card {
  position: relative;

  mat-card {
    min-height: 260px;
    border-radius: 15px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

.card-icon {
  position: relative;
  width: 122px;
  height: 122px;
  top: -60px;
  background-color: $red;
  border-radius: 50%;
  margin: 0 auto;
}

.card-description {
  font-family: 'Montserrat';
  font-size: 19px;
  color: $gray;
  font-weight: 400;
  text-align: center;

  :nth-child(2) {
    margin-top: 15px;
  }
}



//   img {
//     width: 40px;
//     height: 40px;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 10px;
//     display: block;
// }
}

.header-line{
  height:3px;
  width:100px;
  display: block;
  background-color: #C13833;
  margin-bottom:60px;
}

.projects-leaders-list {
  margin-top: 6rem;

  /deep/ .mat-tab-label {
    font-size: 1.4em;
  }

  app-project-list {
    // background: #ffc;
    padding: 1rem;
  }

  app-leader-list {
    // background: #ffc;
    padding: 1rem;
  }

  .controls {
    text-align: center;
  }

  .bt-show-all {
    margin-bottom: 1em;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
    background: #C13833;
    border-radius: 5px;
  }
}

.bottom-title {
  font-size: 30px;
  margin: 100px;
  text-align: left;
  line-height: 35px;
}

.contacts {
  margin-top: 3em;
}
