<h1>Політика конфіденційності</h1>

<h2>1. Використання файлів Cookies</h2>

<p>Для того, щоб цей сайт працював належним чином, ми іноді розміщуємо невеликі файли даних, так звані cookies, на вашому пристрої. Більшість великих веб-сайтів роблять це. Вони необхідні для роботи сайту, а також вони підвищують продуктивність веб-сайту. Ці файли не будуть використовуватися для будь-яких цілей, крім заявлених тут.</p>

<h3>Що таке cookies?</h3>

<p>Cookie — це невеликий текстовий файл, який веб-сайт зберігає на вашому комп'ютері або мобільному пристрої, коли ви відвідуєте цей сайт. Це дозволяє веб-сайту запам`ятовувати ваші дії і налаштування — наприклад, логін, мову, розмір шрифту та інші параметри відображення протягом певного періоду часу, так що вам не доведеться повторно вводити їх кожного разу, коли ви повернтаєтеся на сайт або переходите з однієї сторінки на іншу.</p>

<h3>Як ми використвуємо cookies?</h3>

<p>
  Деякі наших сторінок використовують куки, щоб запам'ятати:
</p>

<ul>
  <li>Ваші налаштування, такі як кольорова тема та розмір шрифтів.</li>
  <li>Відповіді на разові питання, щоб уникнути повторення такошо ж питання до вас.</li>
  <li>Ваше ім'я та адресу електронної пошти, щоб зробити реєстрацію простішою і допомогти нам ідентифікувати Вас як користувача.</li>
  <li>Деякі відео, вбудовані в наших сторінках, використовують куки, щоб анонімно збирати статистику про те, які відео ви відвідали.</li>
  <li>Cookies також зберігаються в системі Analytics</li>
  <li>Ми використовуємо куки протягом одного сеансу і постійні.</li>
</ul>

<h3>Чи використовуємо ми інші cookies?</h3>

<p>Деякі з наших сторінок можуть використовувати додаткові або інші куки, описані вище. У такому випаду подробиці будуть представлені на конкретних сторінках з окремим запитом для Вас на зберігання цих файлів.</p>

<h3>Як керувати cookies?</h3>

<p>Ви можете контролювати і зовсім видалити куки, - для отримання додаткової інформації дивіться <a href="http://www.aboutcookies.org/" target="_blank">aboutcookies.org</a>. Ви можете видалити всі куки, які вже знаходяться на вашому комп'ютері, і ви можете налаштувати більшість браузерів, щоб запобігти їх збереженню. Якщо ви зробите це, можливо, вам доведеться вручну налаштовувати переваги для себе кожного разу, коли ви відвідуєте сай, а деякі послуги та функції можуть не працювати. Включення цих файлів не є строго необхідним для роботи веб-сайту, але робить вашу роботу зручнішою. Ви можете видалити або блокувати ці файли, але якщо ви робите, що деякі функції цього сайту можуть не працювати належним чином.</p>
