:host {
  display: block;
}

.bp-landing .container {
  max-width: inherit;
  width: 100%;
}

.bp-landing h4 {
  font-size: 1.9em;
  margin-bottom: .5em;
  margin-top: .5em;
}

.bp-landing h5 {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

md-card {
  margin: 16px 0;
}

p {
  margin: 16px;
  line-height: 1.4;
}

#stats {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}

#stats md-grid-tile {
  background: rgba(0, 0, 0, 0);
}

#stats a {
  text-decoration: none;
}

.numbers h2 {
  font-size: 2em;
  letter-spacing: normal;
}

.numbers span {
  color: #f44336;
  font-weight: bold;
}

.bp-landing a:href,
.bp-landing a:visited {
  color: #f44336;
}

.logo {
  width: 9em;
  margin: 0px 25px 25px 15px;
}

/* FIXME Hack due to Grid List lack of vertical align */
.topcontent {
  height: 100%;
}

.topcontent.leader img {
    width: 60px;
    vertical-align: middle;
    margin-right: 1rem;
}

.align-bottom {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

#top-projects md-card-title {
  font-size: 1.2em;
}

#bottomline {
  background: #eee;
  /* url('assets/img/bp-bg-gray-red.jpg'); */
  min-height: 350px;
}

#bottomline .align-bottom {
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 0;
  top: 1rem;
}
